// Header styles
header.cover {
    --grid-gap: 0px;
    --grid-columns: 14;
    --grid-rows: 12;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), calc((100% - var(--grid-gap) * (var(--grid-columns) - 1)) / var(--grid-columns)));
    grid-template-rows: repeat(var(--grid-rows), calc((100vh - var(--grid-gap) * ((var(--grid-rows) - 1) / 2)) / var(--grid-rows)));
    grid-gap: calc(var(--grid-gap) / 2) var(--grid-gap);
    color: var(--color-light);
}

.cover__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    grid-column: 1 / 15;
    grid-row: 1 / 7;
}

.cover__background {
    grid-column: 1 / 15;
    grid-row: 7 / 13;
    background-color: var(--color-main);
}

.cover__title {
    grid-column: 2 / 14;
    grid-row: 8 / 13;
    margin: 2rem 0 0 0;
}

.cover__title br {
    display: none;
}

.cover__subtitle {
    grid-column: 2 / 14;
    grid-row: 11;
    -ms-flex-item-align: end;
    align-self: end;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6;
    display: none;
}

.cover__heading {
    grid-column: 2 / 14;
    grid-row: 8 / 9;
    margin: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
}

// Main styles
main.content {
    margin: 5.5rem auto 5rem;
}

.intro p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.research {
    margin-top: 4rem;
}

.research__title span {
    position: relative;
}

.research__title span:after {
    content: "";
    position: absolute;
    width: 112%;
    height: 3px;
    bottom: -7px;
    left: -6%;
    background-color: var(--color-dark);
}

.research__map {
    min-height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
