@media screen and (min-width: 768px) {
    html {
        --container-width: 720px;
    }
    h1 {
        font-size: 3.6rem;
    }
    .index {
        grid-template:  "title" 60px
                        "link" 60px
                        "subtitle" 30px
                        "index" 1fr
                        / 6rem 1fr 6rem;
    }
    .btn--burger,
    .btn--close {
        width: 28px;
        height: 24px;
    }
    .index__title {
        font-size: 1.8rem;
    }
    .index__list {
        -webkit-column-gap: 0;
        column-gap: 0;
    }
    .index__item {
        width: 88%;
        padding: 2rem 0;
        font-size: 1.2rem;
    }
    .cover__subtitle {
        font-size: 1.2rem;
    }
    main.content {
        margin: 12rem auto 5rem;
    }
    .question__heading {
        grid-template-rows: 8rem 1.4rem 12rem;
    }
    .question__title {
        grid-column: 1 / 11;
        font-size: 3rem;
    }
    .question__article {
        grid-template-columns: 1fr 3fr;
    }
    .question__sidebar {
        display: block;
    }
}

@media screen and (min-width: 768px) and (pointer: fine) {
    .btn--burger:hover .btn--burger__line {
        -webkit-transform: translateX(36px);
        transform: translateX(36px);
    }
    .btn--close.nav--open:hover .btn--close__line {
        -webkit-transform: rotate(135deg) scaleX(1.1);
        transform: rotate(135deg) scaleX(1.1);
    }
    .index__link a {
        text-decoration: none;
    }
    .index__link a:hover::before {
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .index__item:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        line-height: 1.4;
    }
    .index__item a {
        text-decoration: none;
    }
    .index__item:hover a::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .pagination__prev:hover .pagination__arrow {
        left: -5px;
    }
    .pagination__next:hover .pagination__arrow {
        left: 5px;
    }
    .pagination:hover .pagination__link::after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .pagination__prev:hover .pagination__link::after {
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
    .pagination__next:hover .pagination__link::after {
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }
}
