footer {

	
	background-color: #1c1c1c;
    color: #f7f4f3;
}

.logo-dd {
    width: 45%;
}

.logo-polimi {
    width: 85%;
}

footer h6 {
	padding-top: 10%;
  color: #ff7644;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

footer ul {
    list-style: none;
    padding: 0;
}
