@font-face {
    font-family: 'FrankRuhlLibreR';
    src: url(../fonts/FrankRuhlLibre-Regular.ttf);
}
@font-face {
    font-family: 'FrankRuhlLibreM';
    src: url(../fonts/FrankRuhlLibre-Medium.ttf);
}
@font-face {
    font-family: 'FrankRuhlLibreB';
    src: url(../fonts/FrankRuhlLibre-Black.ttf);
}
@font-face {
    font-family: 'FrankRuhlLibreBo';
    src: url(../fonts/FrankRuhlLibre-Bold.ttf);
}
@font-face {
    font-family: 'FiraSansM';
    src: url(../fonts/FiraSans-Medium.ttf);
}
@font-face {
    font-family: 'FiraSansR';
    src: url(../fonts/FiraSans-Regular.ttf);
}
@font-face {
    font-family: 'FiraSansL';
    src: url(../fonts/FiraSans-Light.ttf);
}
html {
    overflow: scroll;
    overflow-x: hidden;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
body, html, .tot {
  margin: 0;
  padding: 0;
}
#Layer_1 {
	position: absolute;
	top: 90%;
	left: 47%;
	width: 20px;
	opacity: .7;
}
h1, h2 {
  font-family: 'FrankRuhlLibreB', 'FrankRuhlLibreR', Arial;
}
h3,h4, h5, h6, .start2 {
  font-family: 'FiraSansR', 'FrankRuhlLibreR', Arial;
}
p {
  font-family: 'FrankRuhlLibreR', 'FrankRuhlLibreR', Arial;
}
.start {
  margin: 0 auto;
  padding-top: 25%;
	padding-bottom: 0;
	line-height: .8;
  width: 100%;
  font-size: 4.5rem;
  color: #ff7644;


}
.start2 {
  margin: 0 auto;
	padding: 0;
		line-height: 1;
  width: 100%;
  font-size: 1.666rem;
  color: #1c1c1c;
}
.navigation {
  z-index: +99;
  padding-top: .3rem;
  font-size: 1rem;
  margin: 0;
	letter-spacing: .1rem;
  width: 100%;
  background-color: #f7f4f3;
  font-family: 'FiraSansR', 'FrankRuhlLibreR', Arial;
  position: absolute;
	top: 99%;
  left: 0%;
	 box-shadow: 0 2px 1px -1px #999;
}
.navigation-fixed {
	  position: fixed;
	top: 0%;
  left: 0%;
}
.navigation li {
	padding: 0 .5%;
}
.navigation a {
  color: #1c1c1c;
}
.navigation a.active {
  color: #ff7644;
}
.sec1 , .sec2 , .sec3, .sec4 , .sec5 , .sec6 , .sec7, .sec8 {
  width: 100%;

  margin: 0;

}
.sec1 {

  height: 100vh;
  background: url('../assets/bg.gif') no-repeat center center ;
   background-size: 90%;
  background-color: #f7f4f3;
}
.sec2 {
  background-color: #1c1c1c;
  color: #f7f4f3;

}
.intro {
  padding-top: 10%;
  padding-bottom: 2%;
  font-size: 2.5rem;
	font-family: "FrankRuhlLibreM";
  width: auto;
}
.intro3 {
  padding-top: 15%;
  padding-bottom: 2%;
	font-family: "FrankRuhlLibreM";
  font-size: 2.5rem;
  width: auto;
}
.sec2 p {

  font-size: 1.2rem;
  margin: 2.5% 10%;
}

.gr1 {
  padding: 2% 0;
  margin: 0 auto;
}
.drugi {
  margin: 0 auto;

}
.drugi22 {
    padding: 5% 0;
}
.drugideo {
    background-color: #1c1c1c;
  width: 100%;
  padding: 2% 0 0 0;
}
.dugmici {
	padding: 0% 0 0% 0;
	margin: 0 3% 0 0;
	width: 30%;

}
.dugmici2 {
	padding: 2%	 0% 2% 0;
	margin: 0% 5%;
	width: 90%;

}
.ptops{
	padding-top: 5.15%;

}
button:focus {outline:0;}

.sec3 {

  background-color: #f7f4f3;

}
.sec3 p {
  font-size: 1.2rem;
  margin: 2.5% 10%;
	
}
.gr2 {
  width: 100%;
  padding-bottom: 5%;
}
.intro2 {

padding-top: 15%;
	padding-bottom: 2.5%;
  font-size: 2.5rem;
font-family: "FrankRuhlLibreM";
  color: #ff7644;
}
.sec4 {
  background-color: #1c1c1c;
}
.sec4 h2 {
    color: #f7f4f3;
}
.sec4 p {
  color: #f7f4f3;
  font-size: 1.2rem;
  margin: 2.5% 10%;
}
.tek {
  margin: 0;
	color: #f7f4f3;
}
.gr3 {
  width: 100%;
  padding-top: 0;
}
.drugideo2 {
    background-color: #1c1c1c;
	width: 100%;
  
  margin: 0 auto;

}
.drugideo24 {
    background-color: #1c1c1c;
	width: 100%;
  
  margin: 0 auto;

}
.drugideo22 {
    background-color: #f7f4f3;
	width: 100%;
  
  margin: 0 auto;

}
.gr22{

}
.sec5 {
  background-color: #f7f4f3;

}
.sec5 h2 {
  color: #ff7644;
}
.sec5 p {
  color: #1c1c1c;
  font-size: 1.2rem;
  margin: 2.5% 10%;
}
.drugideo3 {
    background-color: #f7f4f3;
	width: 100%;
  padding: 5% 0 5% 0;
  margin: 0 5% 0  5%;
}
.mapp {
  width: 100%;
  padding: 0 5%;
  margin: 0 15%;
}
.sec6 {

  background-color: #c6c6c6;
}
.sec6 h2 {
  color: #ff7644;
}
.sec6 p {
    margin: 2.5% 10%;
  color: #1c1c1c;
  font-size: 1.2rem;
}
.drugideo4 {
    background-color: #c6c6c6;
	width: 100%;
	margin: 0;
  padding: 3% 0 5% 0 ;
  

}
.sec7 {
  color: #1c1c1c;
  background-color: #f7f4f3;
  padding: 2% 10% 1% 10%;
  margin: 0;

}
.sec7 p {
    color: #1c1c1c;
	margin: 2.5% 10%;
  font-size: 1.2rem;
}
.legenda {
	width: auto;
	padding:5% 0% 5% 0;
	margin: 0 auto;
}
.legenda2 {
	width: auto;
	padding:5% 10% 5% 0;

}
.titlovi {
	width: 100%;
	padding: 0;
	
}
.pbot {
	padding-bottom: 5%;
}
.ptop {
	padding-top: 10%;
}
a.tip:disabled {
		color: #ff7644;
	text-decoration: none;
}
a.tip:active {
	color: #ff7644;
	text-decoration: none;
}
a.tip {
    border-bottom: 1px dashed;
    text-decoration: none;
	color: #ff7644;
}
a.tip:hover {
    cursor: help;
    position: relative
}
a.tip span {
    display: none
}
a.tip:hover span {
    border: #1c1c1c 1px solid;
	border-radius: 5px;
    padding: 5px 5px 5px 15px;
    display: block;
    z-index: 100;
    background-color: #f7f4f3;
	color: #1c1c1c;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none
}
a.tip1:active {
	color: #ff7644;
	text-decoration: none;
}
a.tip1 {
    border-bottom: 1px dashed;
    text-decoration: none;
	color: #ff7644;
}
a.tip1:hover {
    cursor: help;
    position: relative
}
a.tip1 span {
    display: none
}
a.tip1:hover span {
    border: #c6c6c6 1px solid;
	border-radius: 5px;
    padding: 5px 5px 5px 15px;
    display: block;
    z-index: 100;
    background-color: #1c1c1c;
	color: #f7f4f3;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none
}
a.tip2:active {
	color: #ff7644;
	text-decoration: none;
}
a.tip2 {
    border-bottom: 1px dashed;
    text-decoration: none;
	color: #ff7644;
}
a.tip2:hover {
    cursor: help;
    position: relative
}
a.tip2 span {
    display: none
}
a.tip2:hover span {
    border: #1c1c1c 1px solid;
	border-radius: 5px;
    padding: 5px 5px 5px 15px;
    display: block;
    z-index: 100;
    background-color: #c6c6c6;
	color: #1c1c1c;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none
}
.mptop {
	padding-top: 3%;
}
.kraj {
	  background-color: #c6c6c6;

	
  width: 100%;
  padding: 0% 10%;
}
.slika {
	    background-color: #1c1c1c;
  width: 100%;
  padding: 0 10%;
}
#sourcess{
	font-family:  'FiraSansR';
	font-size: .7rem;
	width: 100%;
	color: #c6c6c6;
	
	text-align: right;
	padding-bottom: 5%;
	padding-right: 9.5%;
}
#sourcess1{
	font-family:  'FiraSansR';
	font-size: .7rem;
	width: 100%;
	color: #c6c6c6;
	padding: 0;
	margin: 0;
	text-align: right;
	padding-bottom: 5%;
	padding-right: 13.5%;
}
#sourcess2{
	font-family:  'FiraSansR';
	font-size: .7rem;
	width: 100%;
	color: #c6c6c6;
	padding: 0;
	margin: 0;
	text-align: right;
	padding-bottom: 5%;
	padding-right: 0%;
}
#sourcess3{
	font-family:  'FiraSansR';
	font-size: .7rem;
	width: 100%;
	color: #c6c6c6;
	padding: 0;
	margin: 0;
	text-align: right;
	padding-bottom: 0%;
	padding-right: 0%;
	padding-top: 3%;
}
#sourcess4{
	font-family:  'FiraSansR';
	font-size: .7rem;
	width: 100%;
	color: #1c1c1c;
	padding: 0;
	margin: 0;
	text-align: right;
	padding-bottom: 0	%;
	padding-top: 3%;
	padding-right: 0%;
}
#sourcess5{
	font-family:  'FiraSansR';
	font-size: .7rem;
	width: 100%;
	color: #1c1c1c;
	padding: 0;
	margin: 0;
	text-align: right;
	padding-bottom:5%;
	padding-top: 0%;
	padding-right: 0%;
}

