<footer>
    <img class="footer__image logo-density" src="{{ '/assets/images/logo_density.svg' | relative_url }}" alt="DensityDesign logo">
    <img class="footer__image logo-poli" src="{{ '/assets/images/polimi_logo.svg' | relative_url }}" alt="Politecnico di Milano logo">
    <div class="footer__item footer__faculty">
        <h6 class="footer__title">Faculty</h6>
        <ul class="footer__list">
            <li>Paolo Ciuccarelli</li>
            <li>Stefano Mandato</li>
            <li>Michele Mauri</li>
            <li>Simone Vantini</li>
            <li>Salvatore Zingale</li>
        </ul>
    </div>
    <div class="footer__item footer__assistants">
        <h6 class="footer__title">Teaching Assistants</h6>
        <ul class="footer__list">
            <li>Ángeles Briones</li>
            <li>Gabriele Colombo</li>
            <li>Jacopo Di Iorio</li>
            <li>Tommaso Elli</li>
            <li>Beatrice Gobbo</li>
            <li>Michele Invernizzi</li>
            <li>Ginevra Terenghi</li>
        </ul>
    </div>
</footer>
