<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }}</title>

    <meta name="author" content="DensityDesign Research Lab">
    <meta name="description" content="{{ page.meta-description }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.meta-description }}">
    <meta property="og:image" content="{{ page.meta-image | absolute_url }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="DensityDesign F.S.D.S 2018/2019">
    <meta name="twitter:image:alt" content="{{ page.meta-description }}">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/assets/images/favicons/favicon-144.png' | relative_url }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/assets/images/favicons/favicon-114.png' | relative_url }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ '/assets/images/favicons/favicon-72.png' | relative_url }}">
    <link rel="apple-touch-icon-precomposed" href="{{ '/assets/images/favicons/favicon-57.png' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/images/favicons/favicon-32.png' | relative_url }}">

    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i|Muli:400,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
    {{ content }}
    {% include footer.html %}
    {% if page.is_phase == false %}
        <script src="{{ '/assets/js/perlin.js' | relative_url }}" charset="utf-8"></script>
        <script src="{{ '/assets/js/mask.js' | relative_url }}" charset="utf-8"></script>
    {% else %}
        <script src="{{ '/assets/js/main.js' | relative_url }}" charset="utf-8"></script>
    {% endif %}
</body>

</html>
