@media (min-width: 768px) {
    html {
        --grid-columns: 10;
    }

    .cover__logo {
        grid-column: 4 / span 1;
    }

    .cover__title {
        grid-column: 6 / span 4;
    }

    .index {
        grid-template-rows: repeat(25, var(--grid-unit));
    }

    .index__description {
        grid-column: 2 / span 8;
    }

    .index__description p {
        font-size: 21px;
    }

    .index__description p:first-child {
        margin-top: 41px;
    }

    .index__sections {
        grid-row: 15 / -1;
        grid-template-rows: repeat(12, var(--grid-unit));
    }

    .index__sections a:nth-of-type(2) {
        grid-column: 5 / span 4;
        grid-row: 5 / span 3;
    }

    .index__sections a:nth-of-type(3) {
        grid-row: 8 / span 3;
    }

    .footer__faculty {
        grid-column: 6 / span 2;
    }

    .footer__assistants {
        grid-column: 9 / span 2;
    }

    .phase .index__shape {
        grid-column: 4 / span 3;
    }

    .phase .cover__title {
        grid-column: 6 / span 4;
    }

    .nav__back {
        grid-column: 5 / span 3;
        text-align: center;
    }

    .nav__back::before {
        left: 50%;
    }

    .phase.index {
        grid-template-rows: repeat(136, var(--grid-unit));
    }

    .phase .index__description {
        grid-column: 2 / span 8;
    }

    .index__list {
        grid-row: 9 / span 7;
        grid-template-rows: repeat(7, var(--grid-unit));
        grid-template-columns: repeat(10, var(--grid-unit));
    }

    .index__list .index__item {
        display: block;
    }

    .index__projects {
        grid-row: 17;
    }

    .index__project {
        grid-template-rows: repeat(12, var(--grid-unit));
    }

    .project__text {
        grid-row: 1 / span 7;
        grid-column: 1 / span 8;
    }

    .index__project .index__theme {
        display: none;
    }

    .project__description {
        grid-row: 2 / span 4;
        margin-top: 41px;
        font-size: 21px;
    }

    .project__members {
        grid-row: 6 / span 1;
        font-size: 16px;
    }

    .project__images {
        grid-row: 7 / span 5;
    }

    .project__cover {
        margin-left: calc(var(--grid-unit) * 2);
    }
}
