body {
    background-color: #000000;
}

p {
    background-color: #000000;
    color: #c8c8c8;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    font-size: 100%;
}

strong {
    color: #c8c8c8;
}

strong:hover {
    color: #36ffe2;
    opacity: 1;
}

a {
    display: block;
    text-align: center;
    color: #c8c8c8;
    opacity: 1;
    position: fixed;
}

a:hover {
    color: #36ffe2;
    opacity: 1;
}

tabletext .active {
    background-color: #4CAF50;
    color: white;
}

.navigation {
    color: #c8c8c8;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    font-size: 100%;
    background-color: #000000;
    height: 22px;
    z-index: 10;
}

.introduction {
    background-color: #000000;
    color: #c8c8c8;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    font-size: 90%;
}

.left-introduction {
    background-color: #000000;
    color: #c8c8c8;
    font-family: 'Niramit', sans-serif;
    text-align: left;
    font-size: 90%;
}

.tabletext1 {
    font-weight: 500;
    font-size: 138px;
    line-height: 166px;
    height: 166px;
    text-align: right;
    color: #1e1e1e;
    opacity: 0.9;
}

.tabletext2 {
    font-weight: 500;
    font-size: 138px;
    line-height: 166px;
    height: 166px;
    text-align: left;
    color: #1e1e1e;
    opacity: 0.9;
}

.tabletext {
    background-color: #000000;
    color: #c8c8c8;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    font-size: 100%;
    opacity: 0.4;
}

.PUE {
    background-color: #000000;
    color: #c8c8c8;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    font-size: 90%;
    opacity: 0.7;
}

.button {
    color: #c8c8c8;
    color: #c8c8c8;
    font-family: 'Niramit', sans-serif;
    text-align: center;
    font-size: 100%;
    opacity: 0.1;
}

.svgstyle {}

body {
    background-color: black;
    font-family: copperplate;
}

#bodyContent {
    width: 1366px;
    height: 5237.23472617524px;
}

#img-ai0-9 {
    top: 20.0537%;
    width: 60%;
    height: 30px;
}

#main-box .g-artboard {
    margin: 0 auto;
}

#main-box .g-artboard p {
    margin: 0;
}

.g-aiAbs {
    position: absolute;
}

.g-aiImg {
    display: block;
    width: 100% !important;
}

.g-aiSymbol {
    position: absolute;
    box-sizing: border-box;
}

.g-aiPointText p {
    white-space: nowrap;
}

#bodyContent {
    position: relative;
    overflow: hidden;
}

#bodyContent p {
    font-family: arial, helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
    filter: alpha(opacity=100);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(200, 200, 200);
    text-transform: none;
    padding-bottom: 0;
    padding-top: 0;
    font-style: normal;
    height: auto;
}

#bodyContent .g-pstyle0 {
    font-size: 24px;
    line-height: 29px;
    height: 29px;
}

#bodyContent .g-pstyle1 {
    font-size: 24px;
    line-height: 29px;
}

#bodyContent .g-pstyle2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    height: 43px;
    text-align: justify;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

#bodyContent .g-pstyle3 {
    font-weight: 500;
    font-size: 138px;
    line-height: 166px;
    height: 166px;
    text-align: right;
    color: rgb(, 0, 0);
    opacity: 0.2;
}

#bodyContent .g-pstyle4 {
    font-weight: 500;
    font-size: 138px;
    line-height: 166px;
    height: 166px;
    color: rgb(0, 0);
    opacity: 0.2;
}

#bodyContent .g-pstyle5 {
    font-weight: 500;
    font-size: 138px;
    line-height: 166px;
    height: 166px;
    filter: alpha(opacity=80);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    color: rgb(255, 255, 255);
}

#bodyContent .g-pstyle6 {
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    height: 58px;
    text-align: justify;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

#bodyContent .g-pstyle7 {
    text-align: center;
}

#bodyContent .g-pstyle8 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    height: 30px;
    color: rgb(246, 244, 244);
}

#bodyContent .g-pstyle9 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    color: rgb(246, 244, 244);
}

#bodyContent .g-pstyle10 {
    font-weight: 500;
    font-size: 25px;
    line-height: 31px;
    height: 31px;
    color: rgb(246, 244, 244);
}

#bodyContent .g-pstyle11 {
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: rgb(246, 244, 244);
}

#bodyContent .g-pstyle12 {
    font-size: 16px;
    line-height: 19px;
    color: rgb(251, 251, 251);
}

#bodyContent .g-pstyle13 {
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

#bodyContent .g-pstyle14 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(251, 251, 251);
}

#bodyContent .g-pstyle15 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(246, 244, 244);
}

#bodyContent .g-pstyle16 {
    font-size: 13px;
    line-height: 16px;
    height: 16px;
    text-align: center;
}

#bodyContent .g-pstyle17 {
    height: 22px;
    color: rgb(255, 255, 255);
}

#bodyContent .g-pstyle18 {
    height: 22px;
}

#bodyContent .g-pstyle19 {
    font-size: 11px;
    line-height: 13px;
    height: 13px;
    color: rgb(0, 0, 0);
}

#bodyContent .g-pstyle20 {
    height: 22px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#bodyContent .g-cstyle0 {
    text-transform: uppercase;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    margin-top: 200px;
}

#g-000001-box .g-artboard {
    margin: 0 auto;
}

#g-000001-box .g-artboard p {
    margin: 0;
}

.g-aiAbs {
    position: absolute;
}

.g-aiSymbol {
    position: absolute;
    box-sizing: border-box;
}

.g-aiPointText p {
    white-space: nowrap;
}

#g-000001-_3 {
    position: relative;
    overflow: hidden;
}

#g-000001-_3 p {
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 16px;
    filter: alpha(opacity=100);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(200, 200, 200);
    text-transform: none;
    padding-bottom: 0;
    padding-top: 0;
    mix-blend-mode: normal;
    font-style: normal;
    height: auto;
}

#g-000001-_3 .g-pstyle0 {
    font-size: 21px;
    line-height: 25px;
    height: 25px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

#g-000001-_3 .g-pstyle1 {
    text-align: justify;
}

#g-000001-_3 .g-pstyle2 {
    font-size: 18px;
    line-height: 22px;
    height: 22px;
    color: rgb(255, 255, 255);
}

#g-000001-_3 .g-pstyle3 {
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    color: rgb(255, 255, 255);
}

#g-000001-_3 .g-pstyle4 {
    font-size: 18px;
    line-height: 22px;
    height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.rectbox-36 {
    opacity: 0;
    pointer-events: none;
}

.rectbox-36-show {
    opacity: 1;
    pointer-events: none;
}

#label g text {
    opacity: 0;
    pointer-events: none;
}

.lable-show {
    opacity: 1 !important;
    pointer-events: none;
}

#rectImg rect {
    fill-opacity: 0.1;
}

#rectImg :hover {
    fill-opacity: 0.9;
}

.g-hide {
    display: none !important;
}

.g-show {
    display: inline !important;
}

.myButton {
    background-color: #111010;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /* border: 1px solid #dcdcdc; */
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 48px;
    text-decoration: none;
    opacity: 0.8;
}

.myButton:hover {
    background-color: #111010;
    color: #36ffe2;
    border: 1px solid #36ffe2;
    opacity: 1;
}

.myButton:active {
    position: relative;
    top: 1px;
}
