.testi {
    fill: #FFFFFF;
    font-family: 'IBM Plex Mono';
    font-size: 17.9419px;
    
    /* cursor: url('assets/dot-32-hd.png') 50 50, auto; */
    cursor: url('assets/arrow-32-hd.png'), auto;
}
.social-disappear{
    opacity: .1;
}

.social-disappear, .social-all {
    transition: opacity .3s cubic-bezier(.65, 0, .15, 1);   
}



.fb-ball {
    fill: #650499;
}

.tw-ball {
    fill: #CE3B19;
}

.yt-ball {
    fill: #F2C004;
}

.w-ball {
    fill: #EEEEEE;
}



.fb-paths {
    fill: none;
    stroke: #650499;
    stroke-width: 1.6648;
    stroke-miterlimit: 10;
}

.tw-paths {
    fill: none;
    stroke: #CE3B19;
    stroke-width: 1.6648;
    stroke-miterlimit: 10;
}

.yt-paths {
    fill: none;
    stroke: #F2C004;
    stroke-width: 1.6648;
    stroke-miterlimit: 10;
}



.path-100 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s cubic-bezier(0.075, 0.82, 0.165, 1) alternate-reverse infinite;
}

/* @keyframes dash {
    from {
        stroke-dashoffset: -1000;
    }

    to {
        stroke-dashoffset: 0;
    }
} */