:root {
    --dot-size: 50px;
    --timing: .5s;
    --coefficent: 1.5;
}

h1.hate-title {
    font-family:"IBM Plex";
    font-size: 30px;
    letter-spacing: .5px;
    color: var(--c-2);
    border: var(--border) var(--c-2);
    padding: 5px 20px;
    line-height: 1.4;
}

.tooltip-content {
    color: var(--c-2);
}

span.dot {
    height: var(--dot-size);
    width: var(--dot-size);
    border: var(--border) var(--c-2);
    opacity: .45;
    border-radius: 100%;
    display: inline-block;
    margin: var(--spacing);
    z-index: 100;

    transition: opacity calc(var(--timing)/var(--coefficent)) cubic-bezier(.65, 0, .15, 1),
        transform calc(var(--timing)/var(--coefficent)) cubic-bezier(.65, 0, .15, 1),
        background-color calc(var(--timing)/var(--coefficent)) cubic-bezier(.65, 0, .15, 1),
        border calc(var(--timing)/var(--coefficent)) cubic-bezier(.65, 0, .15, 1);
}

.dot:hover {
    opacity: .7;
    z-index: 1;
    border: 2px solid var(--c-2);
    cursor: url('assets/dot-32-hd-small-reverse.png'), auto;

    transition: opacity calc(var(--timing)/var(--coefficent)) cubic-bezier(.65, 0, .15, 1),
                 transform calc(var(--timing)/var(--coefficent)) cubic-bezier(.65, 0, .15, 1);
}

.dot.on {
    transition: background-color calc(var(--timing)/var(--coefficent)) cubic-bezier(.65, 0, .15, 1),
                transform calc(var(--timing)/var(--coefficent)) cubic-bezier(.65, 0, .15, 1);

    background-color: var(--c-2);
    opacity: .6;
    z-index: 100;
}

.dot.onn {
    transition: background-color calc(var(--timing)/var(--coefficent)) cubic-bezier(.65, 0, .15, 1),
        transform calc(var(--timing)/var(--coefficent)) cubic-bezier(.65, 0, .15, 1);
    background-color: var(--c-2);
    opacity: .7;
    z-index: 10;
}

/* Necessario per il tooltip */
#tooltip {
    opacity: 0;
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px;
    position: fixed;
    z-index: 1000;
    width: auto;
    height: auto;
    max-width: 300px;

    border: var(--border) var(--c-2);
    color: var(--c-2);
    background: var(--c-1);
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    transition: opacity calc(var(--timing)/2) linear;
}

#tooltip.summon {
    opacity: .90;
    transition: opacity calc(var(--timing)/2) ease-in-out;
}

#hate-word-description {
    opacity: 0;
    display: inline-block;
    text-align: left;
    max-width: 600px;
    height: auto;
    color: var(--c-2);

    transition: opacity calc(var(--timing)/2) linear;
}

#hate-word-description.appear {
    opacity: .90;
    transition: opacity calc(var(--timing)/2) ease-in-out;
}


#hate-words {
    display: block;
    max-width: 860px;
    margin: 0 auto;
    padding-bottom: calc(var(--spacing) * 5);
}

#description-container {
    display: block;
    margin: auto;
    width: auto;
    height: 70px;
    text-align: left;
    padding: calc(var(--spacing) / 2);

}

#graph-container {
    top: 50%;
    display: block;
    margin: auto;
    width: 100%;
}