/* footer */

footer {
    background-color: #042e3a;
    color: #f8f7ec;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    cursor: url('/maincursor.png');
}

.logo-dd {
    width: 45%;
}

.logo-polimi {
    width: 85%;
}

footer h6 {
    color: #f65959;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-top: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    text-align: left;
}
