/* services-graph */

.servizi {
    width: 83%;
    margin: 0 auto;
    padding: 2% 0;
}

@media (max-width: 800px) {
.servizi {
    width: 100%;
    margin: 0 auto;
    padding:0 4%;
}
  }

.servizi0 {
    fill: none;
    stroke: #F8F7EC;
    stroke-miterlimit: 10;
}

.servizi1 {
    fill: #F8F7EC;
}

.servizi2 {
    clip-path: url(#servizi_2_);
    fill: none;
    stroke: #F8F7EC;
    stroke-miterlimit: 10;
}

.servizi3 {
    clip-path: url(#servizi_2_);
}

.servizi4 {
    clip-path: url(#servizi_4_);
    fill: none;
    stroke: #F8F7EC;
    stroke-miterlimit: 10;
}

.servizi5 {
    clip-path: url(#servizi_6_);
    fill: none;
    stroke: #F8F7EC;
    stroke-miterlimit: 10;
}

.servizi6 {
    clip-path: url(#servizi_6_);
}

.servizi7 {
    clip-path: url(#servizi_8_);
    fill: none;
    stroke: #F8F7EC;
    stroke-miterlimit: 10;
}

.servizi8 {
    clip-path: url(#servizi_8_);
}

.servizi9 {
    clip-path: url(#servizi_10_);
    fill: none;
    stroke: #F8F7EC;
    stroke-miterlimit: 10;
}

.servizi10 {
    clip-path: url(#servizi_10_);
}

.servizi11 {
    clip-path: url(#servizi_12_);
    fill: none;
    stroke: #F8F7EC;
    stroke-miterlimit: 10;
}

.servizi12 {
    clip-path: url(#servizi_12_);
}

.servizi13 {
    clip-path: url(#servizi_14_);
    fill: none;
    stroke: #F8F7EC;
    stroke-miterlimit: 10;
}

.servizi14 {
    clip-path: url(#servizi_14_);
}

.servizi15 {
    clip-path: url(#servizi_16_);
    fill: none;
    stroke: #F8F7EC;
    stroke-miterlimit: 10;
}

.servizi16 {
    clip-path: url(#servizi_16_);
}

.servizi17 {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
}

.servizi18 {
    font-size: 20px;
}

.servizi19 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.servizi20 {
    font-size: 12px;
}

.servizi21 {
    font-family: 'Roboto Mono', monospace;
}

.servizi22 {
    font-size: 10px;
}
