/* animazione titolo */

body {
    background-color: #042e3a;
    color: #fff;
    text-align: center;
}

.animatedtitle {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 100px;
    align-content: center;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 250px;
    left: 0;
    right: 0;
    
}

#animatedtitlereg {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-style: italic;
    color: #f8f7ec;
    text-decoration: none;
}

.wrap:hover {
    cursor: text;
    text-decoration: none;
}

.homecover {
    opacity: 0.4;
    align-content: center;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

.mezzo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 300%;
}

.billion {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    color: #f8f7ec;
    line-height: 1.2;
    padding: 2% 27%;
}

.sottotitolo {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #f8f7ec;
    line-height: 1.2;
    padding: 2% 27%;
}

.nospazio {
    margin-top: -7%;
    margin-bottom: -5%;
}

@media (max-width: 800px) {
    .billion {
        text-align: center;
        padding: 4% 10%;
        font-size: 25px;
        margin-top: 220%;
    }
}

@media (max-width: 800px) {
    .sottotitolo {
        text-align: center;
        padding: 4% 4%;
        font-size: 25px;
    }
}

@media (max-width: 800px) {
    .animatedtitle {
        font-size: 50px;
    }
}
