/* actors-graph */

.actors-graph {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}

@media (max-width: 800px) {
.actors-graph {
    width: 100%;
    margin: 0 auto;
}
  }

@media (max-width: 800px) {
  .text_dark {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
}

@media (max-width: 800px) {
  .text_red {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
}

.actors0 {
    fill: none;
    stroke: #EB5A5C;
    stroke-width: 3;
    stroke-linecap: square;
    stroke-miterlimit: 10;
}

.actors1 {
    fill: none;
    stroke: #237288;
    stroke-width: 3;
    stroke-linecap: square;
    stroke-miterlimit: 10;
}

.actors2 {
    fill: none;
    stroke: #F6C15A;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.actors3 {
    fill: #F9F7EC;
    stroke: #EB5A5C;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.actors4 {
    fill: none;
}

.actors5 {
    fill: #EB5A5C;
}

.actors6 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.actors7 {
    font-size: 30px;
}

.actors8 {
    fill: #F9F7EC;
    stroke: #F6C15A;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.actors9 {
    fill: #F6C15A;
}

.actors10 {
    fill: #F9F7EC;
    stroke: #237288;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.actors11 {
    fill: #237288;
}

.actors12 {
    fill: #F9F7EC;
    stroke: #F6C15A;
    stroke-miterlimit: 10;
}

.actors13 {
    fill: #052E3A;
}

.actors14 {
    font-family: 'Roboto Mono', monospace;
}

.actors15 {
    font-size: 12px;
}

.actors16 {
    fill: #F9F7EC;
    stroke: #EB5A5C;
    stroke-miterlimit: 10;
}

.actors17 {
    fill: #F9F7EC;
    stroke: #237288;
    stroke-miterlimit: 10;
}

.actors18 {
    fill: #010101;
}

.actors19 {
    fill: none;
    stroke: #237288;
    stroke-width: 3;
    stroke-miterlimit: 10;
}
