/* investiments-graph */

.investimenti {
    width: 90%;
    margin: 0 auto;
    padding: 15px 0px;
}

@media (max-width: 800px) {
.investimenti {
    width: 100%;
    margin: 0 auto;
}
  }

.fill-dark {
    fill: #042E3A;
}

.fill-light {
    fill: #F8F7EC;
}

.regolare {
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
}

.grassetto {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 12px;
}

.linea-trend {
    fill: none;
    stroke: #042E3A;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.linea-legenda {
    fill: none;
    stroke: #042E3A;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 5.2801, 5.2801;
}

.linea-sottile {
    opacity: 0.25;
    fill: #042E3A;
    stroke: #042E3A;
    stroke-width: 0.75;
    stroke-miterlimit: 10;
}

.linea-orizzontale {
    fill: #042E3A;
    stroke: #042E3A;
    stroke-miterlimit: 10;
}

.rombo {
    fill: #042E3A;
    stroke: #042E3A;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.investments-prevision {
    opacity: 0;
}

.investments-trend {
    opacity: 0;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
