/* map-graph */

.pallini {
    cursor: pointer;
}

.st0 {
    fill: #042E3A;
}

.st1 {
    fill: #F8F6EB;
}

.st2 {
    font-family: 'Roboto Mono', monospace;
}

.st3 {
    font-size: 12px;
}

.st4 {
    fill: #00D5E5;
}

.st5 {
    fill: none;
}

.st6 {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
}

.st7 {
    font-size: 10px;
}

.st8 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.st9 {
    fill: #FFE266;
}

.st10 {
    fill: #FF666E;
}

.st11 {
    fill: #FFFFFF;
}
