/* scrollbar */

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background: #042e3a;
}

::-webkit-scrollbar-thumb {
    background: #f65959;
}

::-webkit-scrollbar-thumb:hover {
    background: #f8f7ec;
}
