/* willingness-graph */

.willy-graph {
    width: 85%;
    margin: 0 auto;
    padding: 40px 0px;
}

@media (max-width: 800px) {
.willy-graph {
    width: 100%;
    margin: 0 auto;
    padding: 5%;
}
  }

.willy0 {
    fill: #F8F7EC;
    stroke: #042E3A;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.willy1 {
    opacity: 0.4;
}

.willy2 {
    fill: #042E3A;
}

.willy3 {
    font-family: 'Roboto Mono', monospace;
}

.willy4 {
    font-size: 12px;
}

.willy5 {
    fill: #F6C159;
}

.willy6 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.willy7 {
    fill: #217187;
}

.willy8 {
    fill: #E95A5B;
}

.willy9 {
    opacity: 0.4;
    fill: none;
    stroke: #8B8D91;
    stroke-width: 1.5;
}

.willy10 {
    fill: none;
    stroke: #8B8D91;
    stroke-width: 3;
}

.willy11 {
    display: none;
}

.willy12 {
    display: inline;
    fill: #042E3A;
}

.willy13 {
    font-size: 10px;
}

.willy14 {
    display: inline;
    fill: #F8F7EC;
}

.willy15 {
    fill: none;
    stroke: #237185;
    stroke-width: 2;
    stroke-opacity: 0.4;
}

.willy16 {
    fill: none;
    stroke: #022E3A;
    stroke-width: 2;
    stroke-opacity: 0.4;
}

.willy17 {
    fill: none;
    stroke: #E95A5B;
    stroke-width: 2;
    stroke-opacity: 0.4;
}

.willy18 {
    fill: none;
    stroke: #F6C059;
    stroke-width: 2;
}

.willy19 {
    fill: none;
    stroke: #000000;
}

.willy20 {
    fill: none;
    stroke: #237185;
    stroke-width: 2;
}

.willy21 {
    font-size: 9.15px;
}

.willy22 {
    font-size: 9.165px;
}

.willy23 {
    fill: #F6C059;
}

.willy24 {
    fill: #237185;
}

.willy25 {
    fill: none;
}

.willy26 {
    font-size: 9px;
}

.willy27 {
    fill: none;
    stroke: #E95A5B;
    stroke-width: 2;
}

.cursorpoint {
    cursor: pointer;
}
