@font-face {
    font-family: 'IBM Plex Mono Text';
    src: url('../assets/fonts/IBM-Plex-Mono/IBMPlexMono-Text.woff2') format('Woff2');
}
@font-face {
    font-family: 'IBM Plex Mono';
    src: url('../assets/fonts/IBM-Plex-Mono/IBMPlexMono-Regular.woff2') format('Woff2');
}
@font-face {
    font-family: 'IBM Plex Mono Light';
    src: url('../assets/fonts/IBM-Plex-Mono/IBMPlexMono-Light.woff2') format('Woff2');
}
@font-face {
    font-family: 'IBM Plex Mono ExtraLight';
    src: url('../assets/fonts/IBM-Plex-Mono/IBMPlexMono-ExtraLight.woff2') format('Woff2');
}

:root {
    /* background */
    --c-bg: #18181a;
    /* background */
    --c-bg-h: #262629;
    /* button # a*1.1 a a*1.2 */
    --c-el: #373539;
    /* button hover */
    --c-el-h: #424045;
    /* button active */
    --c-el-a: #5a585f;
    /* clear color */
    --c-cl: #eee;
    /* boh don't remember */
    --c-tx: #303030;
    /* censor colour */
    --c-cs: #c20808;
    /* spacing (either padding or margin,
    * it's more for consistency reasons) */
    --sp: 16px;
    /* header height */
    --hh: 36px;
    /* text color */
    --t-cl: #ddd;
    /* main font bold */
    --f-b: 'IBM Plex Mono Text';
    /* main font */
    --f-m: 'IBM Plex Mono';
    /* light font (> 1em) */
    --f-ml: 'IBM Plex Mono Light';
    /* extra-light font (> 2em) */
    --f-el: 'IBM Plex Mono ExtraLight';
    /* fallback font */
    --f-f: Helvetica, Arial, sans-serif;

    /* transition-timing-function */
    --trtf: cubic-bezier(0.77, 0, 0.175, 1);
    /* transition-duration */
    --trd: 1s;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--t-cl);
    background-color: var(--c-bg);
    font-family: var(--f-m), var(--f-f);
    overflow: hidden;
}

a, span, p, div, text {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

a {
    color: var(--t-cl);
    text-decoration: none;
}

span {
    font-size: .82em;
    letter-spacing: 0.35px;
}

#wrapper {
    height: 100%;
    width: calc(100% - (var(--sp) * 2));
    height: calc(100% - (var(--sp) * 2));
    padding: var(--sp);

    display: flex;
    align-items: stretch;
    flex-direction: column;
}

div.module {
    background-color: var(--c-el);
    transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1);
}
div.module.hidden {
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition: opacity .5s cubic-bezier(0.77, 0, 0.175, 1);
}

#menu {
    position: absolute;
    z-index: 250;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 8, 1);
    overflow: hidden;
    
    height: 0%;
    transition: height 1s cubic-bezier(0.77, 0, 0.175, 1);
    
    /* CPU-Expensive stuff */
    /* backdrop-filter: saturate(100%) blur(20px);
    -webkit-backdrop-filter: saturate(100%) blur(20px);
    -moz-backdrop-filter: saturate(100%) blur(20px);
    -ms-backdrop-filter: saturate(100%) blur(20px); */
    /* CPU-Expensive stuff */
}
#menu.show {
    height: 100%;
    transition: height 1s cubic-bezier(0.77, 0, 0.175, 1);
    
    /* CPU-Expensive stuff */
    /* backdrop-filter: saturate(0%) blur(20px); */
    /* -webkit-backdrop-filter: saturate(0%) blur(20px);
    -moz-backdrop-filter: saturate(0%) blur(20px);
    -ms-backdrop-filter: saturate(0%) blur(20px); */
    /* CPU-Expensive stuff */
}
#menu > ul {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#menu > ul > li {
    font-family: var(--f-ml), var(--f-f);
    font-size: 1.5em;
    list-style: none;
    margin: calc(var(--sp) * 1.5);
}
/* #menu > ul > li::after {
    content: '';
    position: absolute;
    width: 50%;
    transform: translate(-50%, 1.9em);
    height: 1px;
    background-color: var(--c-cl);
} */

#wrapper > #header {
    height: var(--hh);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--sp);
    min-height: var(--hh);
    z-index: 300;
}

#wrapper > #header > #session-title {
    margin: 0 var(--sp) 0 calc(var(--sp) * 8);
}

#wrapper > #header > #header-btns {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-end;
}

#wrapper > #header > #header-btns > * {
    margin: 0 var(--sp);
}

#wrapper > #header > #header-btns > #hamburger {
    position: relative;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 var(--sp);
    height: 100%;
    width: 24px;
    cursor: pointer;
}
#wrapper > #header > #header-btns > #hamburger > .menu-line:first-child {
    transform: translateY(0px) rotate(0deg);
    transition: transform .75s cubic-bezier(0.77, 0, 0.175, 1);
}
#wrapper > #header > #header-btns > #hamburger > .menu-line:last-child {
    transform: translateY(0px) rotate(0deg);
    transition: transform .75s cubic-bezier(0.77, 0, 0.175, 1);
}
#wrapper > #header > #header-btns > #hamburger > .menu-line:nth-child(2) {
    transform: scale(1);
    transition: transform .75s cubic-bezier(0.77, 0, 0.175, 1);
}
#wrapper > #header > #header-btns > #hamburger.show {
    transform: rotate(90deg);
    transition: transform .75s cubic-bezier(0.77, 0, 0.175, 1);
}
#wrapper > #header > #header-btns > #hamburger.show > .menu-line:first-child {
    transform: translateY(9px) rotate(-45deg);
    transition: transform .75s cubic-bezier(0.77, 0, 0.175, 1);
}
#wrapper > #header > #header-btns > #hamburger.show > .menu-line:last-child {
    transform: translateY(-8px) rotate(45deg);
    transition: transform .75s cubic-bezier(0.77, 0, 0.175, 1);
}
#wrapper > #header > #header-btns > #hamburger.show > .menu-line:nth-child(2) {
    transform: scale(0);
    transition: transform .75s cubic-bezier(0.77, 0, 0.175, 1);
}

#wrapper > #header > #header-btns > #hamburger > .menu-line {
    height: 2px;
    width: 100%;
    background-color: white;
}

#wall {
    height: 0px;
    width: 0px;
    visibility: hidden;
    position: absolute;
}

@media (max-width: 640px), (max-height: 480px) {
    html, body {
        pointer-events: none;
    }
    #wrapper {
        visibility: hidden;
    }
    #wall {
        visibility: visible;
        position: absolute;

        width: calc(100% - var(--sp) * 2);
        height: calc(100% - var(--sp) * 2);

        z-index: 500;
        background-color: var(--c-bg);

        padding: var(--sp);

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #wall > p {
        max-width: 380px;

        font-size: .9rem;
        line-height: 1.75;
        text-align: center;

        align-self: center;
    }
}