#content {
    height: 100%;
    padding: var(--sp);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: calc(var(--sp) * 2);
}

#content > a > div.module {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: background-color .25s cubic-bezier(0.39, 0.575, 0.565, 1);
}
#content > a > div.module:hover {
    transition: background-color .25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

a > .module > span {
    font-size: 1em;
}

a > .module > div.svg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

a > .module > div.svg-container > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.curves {
    stroke: white;
    fill: none;
    stroke-width: 2;
    opacity: 1;
}

.off {
    opacity: 0;
    transition: opacity .25s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.on {
    opacity: 1;
    transition: opacity .25s cubic-bezier(0.39, 0.575, 0.565, 1);
}