html {
  --color-main: #ff3603;
  --color-dark: #1b2029;
  --color-light: #FFF;
  --font-display: 'Work Sans', sans-serif;
  --font-text: 'Work Sans', -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif; }
