@import url('https://fonts.googleapis.com/css?family=Karla');

/* ELEMENT STYLES */

body {
    margin: 0 auto;
    height: 100%;
    overflow-x: hidden;
}

section {
    height: 100%;
}

img {
    width: 100%;
}

p {
    margin-top: 0;
}

h1 {
    margin-top: 0;
}

h3 {
    margin-top: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    list-style: none;
    padding-left: 0rem !important;
}

#fullpage {
    position: relative;
    width: 100%;
}

#intro {
    background-image: url("Crack.png");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: bottom;
}

#one {
    background-image: url("wave2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-bottom: 2px solid black;
}

#three {
    background-image: url("Barbed_wire.png");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: bottom;
}

#four {
    background-image: url("Koltello.png");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: bottom;
}

#six {
    background-image: url("Dam.png");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: top;
}

#seven {}

/*BACKGROUND COLORS */

.light-brown {
    background-color: rgb(238, 239, 233);
}

.brown {
    background-color: rgb(168, 86, 55);
}

.red {
    background-color: rgb(206, 101, 96);
}

.black {
    background-color: #000000;
}

.white-bg {
    background-color: white;
}

/* FONT COLORS */

.axis {
    font-family: "Nocturno Display Regular", serif;
    font-size: 1.2rem;
    display: block;
    position: absolute;
    left: 4rem;
    bottom: 12vh;
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);



}

.dk-grey {
    color: #000000;
    /*color: #4e4242;*/
}

.white {
    color: #ffffff;
}

.red-c {
    color: rgb(206, 101, 96);
}

/* NAV */
.slider-container {
    position: relative;
    z-index: 99 !important;
}

.slider-trigger {
    position: fixed;
    z-index: 99 !important;
    top: 4rem;
    right: 4rem;
}

#nav-icon4 {
    position: relative;
    width: 60px;
    height: 45px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 99 !important;
}

#nav-icon4 span {
    display: block;
    float: right;
    position: absolute;
    height: 3px;
    width: 4.5vh;
    background: #000;
    border-radius: 20px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
    top: 0rem;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    z-index: 99 !important;
}

#nav-icon4 span:nth-child(2) {
    top: 0.8rem;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    z-index: 99 !important;
}

#nav-icon4 span:nth-child(3) {
    top: 1.6rem;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    z-index: 99 !important;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
    z-index: 99 !important;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
    z-index: 99 !important;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 29px;
    left: 8px;
    z-index: 99 !important;
}

.slider-container .slider-parent {
    height: 100%;
    max-width: 48%;
    width: 100%;
    position: fixed;
    right: -33%;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .2s all ease-in-out;
    z-index: 98 !important;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.slider-container .slider-parent.active {
    visibility: visible;
    pointer-events: inherit;
    transition: .2s all ease-in-out;
    opacity: 1;
    right: 0;
}

.menu {
    position: relative;
    margin: auto;
    height: 40%;
}

.slider-parent a {
    text-decoration: none;
    color: black;
    font-family: "Nocturno Display Regular", serif;
    font-size: 2.2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

.slider-parent a:hover {
    color: rgb(206, 101, 96);
}

.menu h3 {
    font-size: 3.2rem;
    padding-left: 2rem;
}

.back-to-top-menu {
    width: 30px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 15vh;
}

/*RELATION MAP STYLES*/

#legenda-relations {
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: 80vh;
    margin-top: 20vh;
    z-index: 99;
    margin-bottom: 3rem;
    border-right: 2px solid black;
    border-top: 2px solid black;
}

#contenitore_slider {
    float: right;
    padding-right: 12vw;
    padding-top: 2rem;
}

.contenitore-titolo {
    padding-left: 3rem;
    padding-top: 3rem;
    float: left;
}

.relation-title {
    font-family: "Nocturno Display Regular", serif;
    margin-top: 0rem;
    font-size: 2.2rem;
    margin-bottom: 0.6rem;
}

.legenda-relations-title {
    font-family: "Nocturno Display Regular", serif;
    margin-left: 2.5rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

#relation-legend {
    width: 90%;
    margin-left: 1.5rem;
}

.legenda-relations-spieghino {
    font-family: "Karla", sans-serif;
    margin-left: 2.5rem;
    margin-right: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.testo-navbar {
    font-family: 'Karla', sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    width: 9vw;
    display: inline-block;
}

.testo-navbar-padding1 {
    padding-left: 5vw;
}

.testo-navbar-padding2 {
    padding-left: 9vw;
}

.horizontal-scroll {
    white-space: nowrap;
    z-index: 1;
    height: 80%;
    padding-left: 25vw;
}

#navbar-relations {
    height: 20%;
    z-index: 90;
    grid-column: 1;
    border-bottom: 2px solid black;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 37vw;
    z-index: 1;
}

#minimappa {
    height: 7vh;
    width: 50vw;
    position: absolute;
    padding-left: 8vw;
    padding-top: 1vw;
    vertical-align: top;
}

#minimappa2 {
    height: 7vh;
    width: 50vw;
    position: absolute;
    padding-left: 3vw;
    padding-top: 5.2vw;
    vertical-align: top;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border.*/
}

input[type=range]::-webkit-slider-runnable-track {
    margin-top: 4vw;
    margin-left: 5vw;
    width: 37vw;
    height: 3px;
    cursor: pointer;
    background: rgb(0, 0, 0);
    z-index: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -9px;
    height: 20px;
    width: 20px;
    background: #ce6560;
    cursor: pointer;
    z-index: 1;
}

.alluvionalSVG {
    width: 90%;
    position: relative;
}

/* FOOTER */

#footer h3 {
    font-family: "Nocturno Display Regular", serif, serif;
    font-size: 0.9rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

#footer ul {
    display: block;
}

#footer li {
    display: block;
    font-family: 'Karla', sans-serif;
    font-size: 0.9rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0.1rem;
}

/* CONTAINERS */

.grid-container-1 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.grid-container-2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 0rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.grid-container-2-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    grid-column-gap: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.map-container {
    position: relative;
}

#viz-contour-aa {
    position: relative;
    width: 100%;
}

#viz-contour-bb {
    position: relative;
    width: 100%;
}

.toggle-button {
    display: inline-block;
    position: relative;
    border: 2px solid black;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    float: right;
}

.butt-active {
    border: 2px solid rgb(206, 101, 96);
    color: rgb(206, 101, 96);
}


.grid-container-4 {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 2rem;
    bottom: 0;
}

.number {
    visibility: hidden;
    opacity: 0;
    transition: .3s all ease-in-out;
}

.number-active {
    visibility: visible;
    opacity: 1;
    transition: .3s all ease-in-out;
}


/* BLOCKS */

.item1 {
    grid-column: 3 / 10;
}

.a {
    grid-column: 1;
    padding-left: 4rem;
    padding-right: 2rem;
}

.aa {
    grid-column: 1;
    grid-row: 2;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 0rem;
}


.b {
    grid-column: 2;
    padding-left: 2rem;
    padding-right: 4rem;
    margin-bottom: 0;
}

.bb {
    grid-column: 2;
    grid-row: 2;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 0rem;
}

.bbb {
    grid-column: 2;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0rem;
}

.cc2 {
    position: absolute;
    bottom: -2.5rem;
    left: 21vw;
    width: 80vw;
}

.aa3 {
    grid-column: 3;
    padding-left: 2rem;
    padding-right: 2rem;
}

.bb3 {
    grid-column: 4;
    padding-left: 2rem;
    padding-right: 2rem;
}

.cc3 {
    grid-column: 5;
    padding-left: 2rem;
    padding-right: 4rem;
}

.lg-a {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 2rem;
}

.lg-b {
    grid-column: 2;
    grid-row: 1;
    padding-right: 5.5rem;
}

.c {
    grid-column: 1;
    padding-left: 18rem;
}

.d {
    grid-column: 3/10;
}

/* IMAGE STYLES */

.landing-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    grid-column: 1/12;
    position: absolute;
    z-index: 1;
}

.section-image {
    position: absolute;
    bottom: 5rem;
    left: 2.5rem;
    width: 50%;
}

.timeline {
    position: absolute;
    bottom: 0;
    width: 95%;
}

.dd-logo {
    width: 55%;
}

.viz-2 {
    width: 100%;
}

.contour {
    width: 100%;
    margin-top: 2rem;
}

/* CHARACTER STYLES */
.underline {
    text-decoration: underline !important;
}

.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

.div-center {
    margin: auto;
}

.div-bottom {
    padding-top: 60vh;
}

.top {
    vertical-align: top;
}

.is-hidden {
    display: none;
}

.transparent {
    opacity: 0.4;
}

.right {
    text-align: right;
}

/*ADJUSTMENTS*/
.landing-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 80%;
    height: 33%;
}

/* TEXT STYLES */

.landing-title {
    position: relative;
    font-size: 7rem;
    font-family: "Nocturno Display Regular", serif;
    margin-bottom: 2.5rem;
    margin-top: 0rem;
    letter-spacing: 0.1rem;
    z-index: 95;
}

.landing-subtitle {
    position: relative;
    font-size: 1.8rem;
    font-family: "Nocturno Display Regular", serif;
    z-index: 95;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.title {
    font-size: 5.2rem;
    font-family: "Nocturno Display Regular", serif;
    margin-bottom: 2.5rem;
    padding-right: 10rem;
    line-height: 5.6rem;
    letter-spacing: 0.2rem;
    z-index: 99 !important;
}

.subtitle {
    font-size: 2rem;
    font-family: "Nocturno Display Regular", serif;
    margin-top: 0rem;
    margin-bottom: 4.5rem;
    padding-right: 12rem;
    letter-spacing: 1.2px;
    z-index: 99 !important;
}

.body-text {
    font-family: 'Karla', sans-serif;
    font-size: 1.2rem;
    padding-right: 5rem;
    line-height: 1.5rem;
    z-index: 95;
}

.statement-text {
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
    display: block;
    width: 68rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40%;
    bottom: 50%;
    z-index: 95;
}

.big-number {
    font-family: 'Karla', sans-serif;
    font-size: 8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    z-index: 99 !important;
}

.number-caption {
    font-family: 'Karla', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    z-index: 99 !important;
}

.source {
    font-family: 'Karla', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    margin-top: 0rem;
    color: #000;
    z-index: 99 !important;
}

.source-map {
    font-family: 'Karla', sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
    color: #000;
    display: block;
    position: absolute;
    left: 3rem;
    bottom: 46vh;
    width: 25vh;
}

.map-title {
    font-size: 1.8rem;
    font-family: "Nocturno Display Regular", serif;
    margin-top: 0rem;
    display: block;
    position: absolute;
    top: 2.5rem;
    left: 3rem;
}

.interact-text {
    font-family: 'Karla', sans-serif;
    font-size: 0.8rem;
    display: block;
    position: absolute;
    left: 3rem;
    top: 6.5rem;
    max-width: 14%;
}

.map-legend {
    position: absolute;
    vertical-align: top;
    bottom: 5vh;
    right: 0.5vw;
    width: auto;
}

.alluvial-legend {
    position: absolute;
    left: 4rem;
    bottom: 4rem;
}

#alluvial-title {
    font-family: "Nocturno Display Regular", serif;
    font-size: 1.2rem;
    position: relative;
}

.final-title {
    font-family: "Nocturno Display Regular", serif;
    font-size: 1.4rem;
}

#alluvial-info {
    position: relative;
    font-family: 'Karla', sans-serif;
    font-size: 0.8rem;
    display: block;
    vertical-align: top;
    width: 20%;
    min-width: 15%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.map-info {
    font-family: 'Karla', sans-serif;
    font-size: 0.8rem;
    display: inline-block;
    vertical-align: top;
    width: 22vh;
    min-width: 15%;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}


.info-title {
    font-family: "Nocturno Display Regular", serif, serif;
}

.viz-map {
    padding-top: 9vh;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.conflict-circle:hover {
    opacity: 1;
}

.macro-area:hover >.cls-26 {
    fill: url(#Nuovo_campione_pattern_1);
}
.macro-area:hover >.cls-29 {
    fill: url(#Nuovo_campione_pattern_1);
}
.macro-area:hover >.cls-36 {
    fill: url(#Nuovo_campione_pattern_1);
}
.macro-area:hover >.cls-37 {
    fill: url(#Nuovo_campione_pattern_1);
}

#show-conflicts {
    position: absolute;
    margin-top: 48vh;
    top: 0;
    bottom: 0;
    right: 3rem;
    width: 15%;
    font-size: 2rem;
}

#country {
    font-family: "Nocturno Display Regular", serif, serif;
    margin-bottom: 0;
}

#n-country {
    font-family: "Nocturno Display Regular", serif, serif;
    color: rgb(206, 101, 96);
    margin-top: 0;
}

#cerchiolini {
    display: block;
    width: 50px;
}

.macro-area:hover {
    cursor: pointer;
}

#contour-title {
    font-size: 1.8rem;
    font-family: "Nocturno Display Regular", serif, serif;
    width: 100%;
}

.contour-interact-text {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    max-width: 60%;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* MOBILE VERSION*/

@media (max-width: 1200px) {
    .grid-container-1 {
        padding-left: 1.2rem;
        padding-right: 1.5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        margin-left: 0rem;
        margin-right: 0rem;
        grid-column-gap: 2rem;
    }

    .grid-container-2 {
        padding-left: 1.2rem;
        padding-right: 1.5rem;
        padding-top: 2.5rem;
        margin-left: 0rem;
        margin-right: 0;
        grid-column-gap: 2rem;
    }

    .title {
        font-size: 4rem;
        font-family: "Nocturno Display Regular", serif;
        margin-bottom: 1.5rem;
        margin-top: 2.5rem;
        line-height: 4.2rem;
        padding-right: 3rem;
        z-index: 99 !important;
    }

    .subtitle {
        font-size: 1.8rem;
        font-family: "Nocturno Display Regular", serif;
        margin-top: 0px;
        margin-bottom: 1.5rem;
        padding-right: 3rem;
        z-index: 99 !important;
    }

    .body-text {
        font-family: 'Karla', sans-serif;
        font-size: 1.2rem;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 2rem;
        line-height: 1.5rem;
        z-index: 99 !important;
    }
}

/* 1024 */

@media (max-width: 1024px) {
    .slider-trigger {
        top: 3.5rem;
        right: 4rem;
    }

    #nav-icon4 {
        position: relative;
        width: 60px;
        height: 45px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 99 !important;
    }

    #nav-icon4 span {
        display: block;
        float: right;
        position: absolute;
        height: 3px;
        width: 4vh;
        background: #000;
        border-radius: 20px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon4 span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
        z-index: 99 !important;
    }

    #nav-icon4 span:nth-child(2) {
        top: 0.6rem;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
        z-index: 99 !important;
    }

    #nav-icon4 span:nth-child(3) {
        top: 1.2rem;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
        z-index: 99 !important;
    }

    #nav-icon4.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
        z-index: 99 !important;
    }

    #nav-icon4.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
        z-index: 99 !important;
    }

    #nav-icon4.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 1rem;
        left: 5px;
        z-index: 99 !important;
    }

    /*contour graphs*/
    .cc {
        bottom: 15vh;
    }

    .final-title {
        margin-bottom: 1rem;
    }

    #source-aa {
        margin-bottom: 3.4rem;
    }

    .contour {
        width: 100%;
        margin-top: 2rem;
    }

    .grid-container-2-2 {
        grid-column-gap: 1rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }


    .final-title {
        font-size: 1.2rem;
    }

    .toggle-button {
        font-size: 0.8rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        margin-bottom: 0.4rem;
        float: right;
    }

    .contour-interact-text {
        font-size: 0.8rem;
        max-width: 60%;
        padding-left: 3.8vw;
    }

    /*alluvial graph*/
    .cc2 {
        position: absolute;
        top: 29vh;
        left: 21vw;
        width: 80vw;
    }

    .alluvionalSVG {
        width: 85%;
        padding-left: 5vw;
        padding-bottom: 15vh;
    }

    #alluvial-title {
        font-size: 0.8rem;
        width: 11vw;
        left: 5vw;
    }

    #alluvial-info {
        font-size: 0.6rem;
        width: 13vw;
        left: 5vw;
    }

    .alluvial-legend {
        left: 3rem;
        bottom: 0;
    }

    /*Relations map*/
    #contenitore_slider {
        padding-right: 18vw;
    }

    .testo-navbar {
        font-size: 0.6rem;
    }

    .relation-title {
        font-size: 1.6rem;
    }

    .legenda-relations-title {
        font-size: 0.8rem;
    }

    .legenda-relations-spieghino {
        font-size: 0.6rem;
    }

    section {
        height: 100%;
    }

    .slider-container .slider-parent {
        padding-top: 6rem;
    }

    .slider-parent a {
        text-decoration: none;
        color: black;
        font-family: "Nocturno Display Regular", serif, serif;
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }

    .menu h3 {
        font-size: 2.5rem;
    }

    .grid-container-1 {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
        margin-left: 0rem;
        margin-right: 0rem;
        grid-column-gap: 2rem;
    }

    .grid-container-2 {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
        margin-left: 0rem;
        margin-right: 0;
        grid-column-gap: 2rem;
    }

    .grid-container-4 {
        padding-top: 0rem;
    }

    .landing-title {
        position: relative;
        font-size: 4.5rem;
        font-family: "Nocturno Display Regular", serif;
        margin-bottom: 2.5rem;
        margin-top: 0rem;
    }

    .landing-subtitle {
        position: relative;
        font-size: 1.3rem;
        font-family: "Nocturno Display Regular", serif;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .title {
        font-size: 2.8rem;
        font-family: "Nocturno Display Regular", serif;
        margin-bottom: 1.5rem;
        line-height: 3rem;
        padding-right: 3rem;
        padding-top: 0rem;
        margin-top: 0rem;
        letter-spacing: 0rem;
        z-index: 99 !important;
    }

    .subtitle {
        font-size: 1.2rem;
        font-family: "Nocturno Display Regular", serif;
        margin-top: 0px;
        margin-bottom: 1.5rem;
        padding-right: 3rem;
        z-index: 99 !important;
    }

    .body-text {
        font-family: 'Karla', sans-serif;
        font-size: 0.9rem;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0rem;
        line-height: 1.1rem;
        z-index: 99 !important;
    }

    .statement-text {
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 2.5rem;
        max-width: 65%;
    }

    .big-number {
        font-family: 'Karla', sans-serif;
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 0.1rem;
        margin-top: 1.5rem;
    }

    .number-caption {
        font-family: 'Karla', sans-serif;
        font-size: 0.8rem;
        text-transform: uppercase;
    }

    .source {
        font-family: 'Karla', sans-serif;
        font-size: 0.6rem;
        font-weight: 100;
        margin-bottom: 4.5rem;
        margin-top: 0rem;
        color: #000;
        z-index: 99 !important;
    }

    .source-map {
        font-family: 'Karla', sans-serif;
        font-size: 0.6rem;
        font-weight: 100;
        color: #000;
        z-index: 99 !important;
        display: block;
        left: 2rem;
        bottom: 17rem;
        width: 15%;
    }

    .map-title {
        font-size: 1rem;
        font-family: "Nocturno Display Regular", serif;
        margin-top: 0rem;
        left: 3rem;
        top: 3rem;
    }

    .interact-text {
        max-width: 20%;
        font-size: 0.6rem;
        margin-top: 0rem;
        left: 3rem;
        top: 5rem;
    }

    .map-info {
        font-family: 'Karla', sans-serif;
        font-size: 0.6rem;
        width: 20vh;
        min-width: 15%;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .viz-map {
        padding-top: 20vh;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    #show-conflicts {
        position: absolute;
        margin-top: 48vh;
        top: 0;
        bottom: 0;
        right: 3rem;
        width: 15%;
        opacity: 1;
        transition: 0.2 all ease-in;
    }

    #country {
        font-family: "Nocturno Display Regular", serif, serif;
        margin-bottom: 0;
    }

    #n-country {
        font-family: "Nocturno Display Regular", serif, serif;
        color: rgb(206, 101, 96);
        margin-top: 0;
    }

    #cerchiolini {
        display: block;
        width: 50px;
    }

    .map-legend {
        position: absolute;
        vertical-align: top;
        bottom: 5.5vh;
        right: 1vh;
        width: auto;
    }

    .number {
        position: relative;
        left: 0;
        top: 0;
    }

    .item1 {
        grid-column: 3/10;
        width: 100%;
    }

    .a {
        grid-column: 1;
        padding-left: 3rem;
        padding-right: 1.5rem;
        margin-top: 0;
    }

    .b {
        grid-column: 2;
        padding-left: 1.5rem;
        padding-right: 3rem;
        margin-top: 0;
    }

    .a-2 {
        grid-column: 1;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
    }

    .b-2 {
        grid-column: 2;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
    }

    .div-bottom {
        padding-top: 18rem;
        vertical-align: bottom;
    }

    /* FOOTER */

    #footer h3 {
        font-family: "Nocturno Display Regular", serif, serif;
        font-size: 0.6rem;
        letter-spacing: 0rem;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0.2rem;
        line-height: 1.5rem;
    }

    #footer ul {
        display: block;
    }

    #footer li {
        display: block;
        font-family: 'Karla', sans-serif;
        font-size: 0.6rem;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0.2rem;
        line-height: 1rem;
    }

    .div-bottom {
        padding-top: 60vh;
    }

    .back-to-top-menu {
        width: 30px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 25vh;
    }

    .grid-container-4 {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding-top: 2rem;
        padding-left: 6rem;
        padding-right: 6rem;
        padding-bottom: 2rem;
        bottom: 0;
    }

    #footer h3 {
        font-family: "Nocturno Display Regular", serif, serif;
        font-size: 0.6rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    #footer li {
        display: block;
        font-family: 'Karla', sans-serif;
        font-size: 0.6rem;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin-bottom: 0rem;
        margin-top: 0 rem;
    }

    .dd-logo {
        width: 85%;
    }

}



/*/////////////////////////*/
@media (max-width: 768px) {
    section {
        height: auto;
    }

    .section-image {
        position: relative;
        bottom: 0rem;
        left: 0rem;
        width: 50%;
        margin-bottom: 2rem;
    }

    .landing-image {
        width: 100%;
        grid-column: 1;
        position: absolute;
        z-index: 1;
        bottom: 0;
    }

    .grid-container-1 {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .grid-container-2 {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        margin-left: 0.5rem;
        margin-right: 0;
    }

    .landing-title {
        font-size: 4.5rem;
        font-family: "Nocturno Display Regular", serif;
        margin-bottom: 2.5rem;
        margin-top: 0rem;
    }

    .landing-subtitle {
        font-size: 1.5rem;
        font-family: "Nocturno Display Regular", serif;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .title {
        font-size: 3rem;
        font-family: "Nocturno Display Regular", serif;
        margin-bottom: 1.5rem;
        margin-top: 2.5rem;
        line-height: 3.2rem;
        padding-right: 1rem;
    }

    .subtitle {
        font-size: 1.4rem;
        font-family: "Nocturno Display Regular", serif;
        margin-top: 0px;
        margin-bottom: 1.5rem;
        padding-right: 1rem;
    }

    .body-text {
        font-family: 'Karla', sans-serif;
        font-size: 1.1rem;
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 2rem;
        line-height: 1.4rem;
    }

    .statement-text {
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0rem;
        padding-right: 0rem;
        width: 100%;
    }

    .big-number {
        font-family: 'Karla', sans-serif;
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 0.1rem;
        margin-top: 2.5rem;
    }

    .number-caption {
        font-family: 'Karla', sans-serif;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    .map-title {
        font-size: 1.2rem;
        font-family: "Nocturno Display Regular", serif;
        margin-top: 0rem;
        position: relative;
        top: 0;
        left: 0;
        padding-left: 2rem;
    }

    .interact-text {
        position: relative;
        top: 0;
        left: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 80%;

    }

    .number {
        position: relative;
        left: 0;
        top: 0;
    }

    .item1 {
        grid-column: 1;
        width: 100%;
    }

    .a {
        grid-column: 1;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
    }

    .b {
        grid-column: 1;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
    }

    .a-2 {
        grid-column: 1;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
    }

    .b-2 {
        grid-column: 1;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
    }

    .c {
        grid-column: 1;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
    }

    .d {
        grid-column: 1;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
    }

    .bbb {
        grid-column: 1;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
    }

    .aa3 {
        grid-column: 1;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
    }

    .bb3 {
        grid-column: 1;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
    }

    .cc3 {
        grid-column: 1;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
    }

    #footer h3 {
        width: 100%;
        padding-left: 0rem;
        font-size: 0.9rem;
    }

    #footer ul {
        width: 100%;
        min-width: 30vh;
    }

    #footer li {
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: 0.9rem;
    }

    .dd-logo {
        width: 50%;
    }

    .grid-container-4 {
        position: relative;
        margin-left: 0;
        margin-right: 0;
    }

    .grid-container-2-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-left: 0;
        margin-right: 0;
    }

    .lg-a {
        padding-top: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
        position: relative;
        grid-column: 1;
        grid-row: 1;

    }

    .contour-interact-text {
        width: 100%;
        font-size: 1rem;
        padding-right: 0rem;
        padding-left: 0rem;
    }

    .lg-b {
        float: left;
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
        position: relative;
        grid-column: 1;
        grid-row: auto;
        padding-top: 1rem;
    }

    .toggle-button {
        float: left;
        display: block;
    }

    .aa {
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
        position: relative;
        grid-column: 1;
        grid-row: auto;
        padding-top: 1rem;
    }

    .bb {
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
        position: relative;
        grid-column: 1;
        grid-row: auto;
        padding-top: 1rem;
    }

    .cc {
        padding-left: 0rem;
        padding-right: 0rem;
        margin: auto;
        padding-bottom: 1rem;
        position: relative;
        grid-column: 1;
        grid-row: auto;
        padding-top: 1rem;
    }

    .alluvial-legend {
        position: relative;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
    }

    #alluvial-info {
        width: 100%;
        left: 0;
    }

    #alluvial-title {
        width: 100%;
        left: 0;
    }

    #legenda-relations {
        position: relative;
        width: 100%;
    }

    .subtitle-text {
        padding-left: 0rem;
        padding-right: 0rem;
        min-width: 80%;
    }

    .cc2 {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
    }
}

@media (max-height: 600px) {
    #source-relations {
        margin-bottom: 0;
    }

    .contenitore-titolo {
        padding-top: 1rem;
    }

    #contenitore_slider {
        padding-top: 1rem;
    }
}
