.stroke0,
.stroke1,
.stroke2,
.stroke3,
.stroke4,
.stroke5,
.stroke6,
.stroke7,
.stroke8,
.stroke9,
.stroke10,
.stroke11,
.stroke12,
.stroke13,
.stroke14 {
    opacity:0.5;
    fill:none;
    stroke:#0000FF;
    cursor: url('assets/arrow-32-hd.png'), auto;
    
}

.texts {
    cursor: url('assets/arrow-32-hd.png'), auto;
}

.stroke0{stroke-width:31.1866;}
.stroke1{stroke-width:19.4916;}
.stroke2{stroke-width:33.1358;}
.stroke3{stroke-width:5.8475;}
.stroke4{stroke-width:15.5933;}
.stroke5{stroke-width:27.2883;}
.stroke6{stroke-width:35.0849;}
.stroke7{stroke-width:17.5425;}
.stroke8{stroke-width:3.8983;}
.stroke9{stroke-width:9.7458;}
.stroke10{stroke-width:25.3391;}
.stroke11{stroke-width:39;}
.stroke12{stroke-width:46.7799;}
.stroke13{stroke-width:40.9324;}
.stroke14{stroke-width:23.39;}

.vertical-values, .texts {fill:#FFFFFF;}

.texts {font-family:'IBM Plex Mono';
    font-size:18.5285px;}

.stroke{
    transition: opacity .3s cubic-bezier(.65, 0, .15, 1); 
}

.stroke.highlight-strokes{
    transition: opacity .3s cubic-bezier(.65, 0, .15, 1); 
    opacity: 0.1;
}