footer {
    background-color: var(--c-2);
    color: var(--c-1);
}

.logo-dd {
    width: 45%;
}

.logo-polimi {
    width: 85%;
}

footer h6 {
  color: var(--c-1);
  mix-blend-mode: difference;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

footer ul {
    list-style: none;
    padding: 0;
}
