// Header styles
.question__heading {
    display: grid;
    grid-template-rows: 8rem 1.4rem 7.4rem;
    grid-template-columns: repeat(12, calc(100% / 12));
    margin-top: 2rem;
}

.pagination {
    grid-row: 1;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.8rem;
}

.pagination.pagination--hidden {
    display: none;
}

.pagination__prev {
    grid-column: 1 / 2;
    padding-right: 0.3rem;
}

.pagination__next {
    grid-column: 12 / 13;
    justify-self: end;
}

.pagination__arrow {
    font-size: 0.9rem;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

.pagination__prev .pagination__arrow {
    padding-right: 0.3rem;
}

.pagination__next .pagination__arrow {
    padding-left: 0.3rem;
}

.pagination__link {
    position: relative;
}

.pagination__link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color-dark);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.pagination__prev .pagination__link::after {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.pagination__next .pagination__link::after {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.question__subtitle {
    grid-row: 2;
    grid-column: 1 / 11;
    margin: 0;
}

.question__title {
    grid-row: 3;
    grid-column: 1 / 13;
    margin: 0;
    font-size: 1.8rem;
}

.question__heading .btn--burger,
.question__heading .btn--close {
    grid-row: 2 / 3;
    grid-column: -2 / -1;
}

.question__heading .btn--burger__line {
    background-color: var(--color-main);
}

.question__heading .btn--burger__line::before {
    background-color: var(--color-main);
}

// Visualization container styles
.question__visualization {
    width: 100%;
}

.question__visualization img {
    width: 100%;
}

// Sidebar container styles
.question__article {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.question__sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 50vh;
    -ms-flex-item-align: start;
    align-self: start;
    display: none
}

.question__link {
    display: block;
    margin-bottom: 1rem;
    text-transform: uppercase;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.question__link span {
    position: relative;
    left: 0;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
}

.question__link span::before,
.question__content h5 a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 103%;
    height: 2px;
    background-color: var(--color-main);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.question__link span::after {
    content: "";
    position: absolute;
    left: -1.5rem;
    top: 50%;
    width: 1rem;
    height: 2px;
    background-color: var(--color-main);
    border-radius: 1px;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.question__link:hover {
    color: var(--color-main);
}

.question__link:hover span::before,
.question__content h5 a:hover::before {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.question__link.link--active {
    color: var(--color-main);
}

.question__link.link--active span {
    left: 1.5rem;
}

.question__link.link--active span::after {
    // -webkit-transform-origin: 0% 50%;
    // transform-origin: 0% 50%;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

// General styles for content container
.question__content h3 {
    display: inline-block;
    margin-top: 2.4rem;
    padding-top: 0.8rem;
    position: relative;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    color: var(--color-main);
}

.question__content h3:first-child {
    margin-top: 0;
}

.question__content h3::before {
    content: "";
    position: absolute;
    width: calc(100% + 1.3rem);
    top: 0;
    left: 0;
    height: 1.5px;
    background-color: var(--color-main);
}

.question__content h5 {
    margin: 0 0 0.7rem;
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
}

.question__content h5 a {
    position: relative;
    text-transform: none;
    color: var(--color-main);
}

.question__content h5 span {
    position: relative;
    top: 0;
    font-size: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.1rem;
    -webkit-transition: top 0.5s ease;
    transition: top 0.5s ease;
}

.question__content h5 a:hover span {
    top: -3px;
}

.question__content p {
    margin: 0 0 0.7rem;
    font-size: 1.1rem;
    line-height: 1.6;
}

.question__content img {
    max-width: 100%;
}
