nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    color: var(--color-light);
    z-index: 99;
    pointer-events: none;
}

.nav__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--color-dark);
    -webkit-transition: width 0.75s cubic-bezier(.6,0,.4,1);
    transition: width 0.75s cubic-bezier(.6,0,.4,1);
}

.nav__background-image {
    position: absolute;
    width: calc(100% - 6rem);
    height: calc(100% - 6rem);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    margin: 3rem;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease;
    transition: opacity 0.8s ease;
}

.nav__background-image.image--shown {
    opacity: 0.3;
}

.index {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100vw;
    height: calc(100vh - 5rem);
    display: grid;
    grid-template:  "title" 60px
                    "link" 60px
                    "subtitle" 50px
                    "index" 1fr
                    / 3rem 1fr 3rem;
}

.index__heading {
    margin: 0;
    text-align: left;
}

.index__title {
    grid-column: 2 / 3;
    grid-row: "title";
    font-size: 1.4rem;
}

.index__link {
    grid-column: 2 / 3;
    grid-row: "link";
}

.index__link a {
    position: relative;
    color: var(--color-light);
    font-size: 1.2rem;
    text-decoration: underline;
}

.index__link a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 103%;
    height: 2px;
    background-color: var(--color-light);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.index__subtitle {
    grid-column: 2 / 3;
    grid-row: "subtitle";
    text-align: center;
}

.index__list {
    grid-column: 2 / 3;
    grid-row: "index";
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    -webkit-column-gap: 35px;
    column-gap: 35px;
    grid-auto-rows: 1fr;
}

.index__item {
    width: 100%;
    padding: 1rem 0 1rem;
    font-size: 1rem;
    line-height: 1.3;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: line-height 0.3s ease, transform 0.3s ease;
    -webkit-transition: line-height 0.3s ease, -webkit-transform 0.3s ease;
    transition: line-height 0.3s ease, -webkit-transform 0.3s ease;
    transition: line-height 0.3s ease, transform 0.3s ease;
    transition: line-height 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
    cursor: pointer;
}

.index__item a {
    color: var(--color-light);
    position: relative;
    text-decoration: underline;
}

.index__item a::after {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 100%;
    height: 2px;
    background-color: var(--color-light);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.nav__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    z-index: -1;
}

.nav__background:nth-of-type(1) {
    background-color: var(--color-main);
    -webkit-transition: width 0.75s cubic-bezier(.35,0,.6,1);
    transition: width 0.75s cubic-bezier(.35,0,.6,1);
}

.nav__background:nth-of-type(2) {
    background-color: var(--color-light);
    -webkit-transition: width 0.75s cubic-bezier(.5,0,.5,1);
    transition: width 0.75s cubic-bezier(.5,0,.5,1);
}

nav.nav--open {
    pointer-events: auto;
}

nav.nav--open .nav__background,
nav.nav--open .nav__container {
    width: 100%;
}
