.rectbox-1 {
    opacity: 0.7;
}

.rectbox-2 {
    fill: #696f78;
}

.rectbox-3 {
    fill: #eff3f7;
}

.rectbox-4 {
    fill: #626871;
}

.rectbox-5 {
    fill: #8c9198;
}

.rectbox-6 {
    fill: #777b84;
}

.rectbox-7 {
    fill: #c0c4ca;
}

.rectbox-8 {
    fill: #dfe3e7;
}

.rectbox-9 {
    fill: #9a9fa6;
}

.rectbox-10 {
    fill: #e7eaef;
}

.rectbox-11 {
    fill: #5c6069;
}

.rectbox-12 {
    fill: #93989f;
}

.rectbox-13 {
    fill: #b9bcc3;
}

.rectbox-14 {
    fill: #555b63;
}

.rectbox-15 {
    fill: #cfd4da;
}

.rectbox-16 {
    fill: #d7dbe0;
}

.rectbox-17 {
    fill: #474e57;
}

.rectbox-18 {
    fill: #858a91;
}

.rectbox-19 {
    fill: #7e828b;
}

.rectbox-20 {
    fill: #4f545d;
}

.rectbox-21 {
    fill: #424751;
}

.rectbox-22 {
    fill: #70757d;
}

.rectbox-23 {
    fill: #f8fbfe;
}

.rectbox-24 {
    fill: #aaaeb4;
}

.rectbox-25,
.rectbox-31 {
    fill: #3b414b;
}

.rectbox-26 {
    fill: #c7ccd1;
}

.rectbox-27,
.rectbox-32 {
    fill: #363b45;
}

.rectbox-28 {
    fill: #a1a7ad;
}

.rectbox-29,
.rectbox-33 {
    fill: #2f353f;
}

.rectbox-30 {
    fill: #b1b5bb;
}

.rectbox-31,
.rectbox-32,
.rectbox-33 {
    stroke: #c8c8c9;
}

.rectbox-31,
.rectbox-32 {
    stroke-width: 0.5px;
}

.rectbox-34,
.rectbox-35 {
    fill: none;
    stroke: #fff;
}

.rectbox-34 {
    stroke-miterlimit: 10;
}

.rectbox-36 {
    isolation: isolate;
}

.rectbox-36,
.rectbox-40 {
    font-size: 11px;
    fill: #fdfbfb;
    font-family: ArialMT, Arial;
}

.rectbox-37 {
    letter-spacing: -0.04em;
}

.rectbox-38 {
    letter-spacing: -0.07em;
}

.rectbox-39 {
    letter-spacing: -0.06em;
}

.rectbox-41 {
    letter-spacing: -0.02em;
}
