---
layout: default
---
{% capture the_collection %}{{page.collection}}{% endcapture %}
{% if page.collection %}
    {% assign  document = site[the_collection]  %}
{% endif %}
{% for links in document  %}
    {% if links.title == page.title %}
        {% unless forloop.first %}
            {% assign prevurl = prev.url %}
            {% assign prevtitle = prev.nav %}
        {% endunless %}
        {% unless forloop.last %}
            {% assign next = document[forloop.index] %}
            {% assign nexturl = next.url %}
            {% assign nexttitle = next.nav %}
        {% endunless %}
    {% endif %}
    {% assign prev = links %}
{% endfor %}

<header class="phase cover">
    <div class="page__grid"></div>
    {{ content }}
    <img class="cover__logo" src="{{ '/assets/images/logo_density.svg' | relative_url }}" alt="DensityDesign logo">
    <h1 class="cover__title display">{{ site.data[page.phase].title }}<span></h1>
    <div class="cover__nav">
        {% if prevurl and page.phase == "es02" %}<a href="{{prevurl | relative_url }}" class="nav__link nav__prev">{{prevtitle}}</a>{% endif %}
        <a href="{{ site.pages[0].url | relative_url }}" class="nav__link nav__back">Back to main page</a>
        {% if nexturl and page.phase == "es01" %}<a href="{{nexturl | relative_url }}" class="nav__link nav__next">{{nexttitle}}</a>{% endif %}
    </div>
</header>

<main class="phase index">
    <div class="page__grid"></div>
    <div class="index__description">
        {{ site.data[page.phase].description | markdownify }}
    </div>
    <div class="index__list">
        <div class="index__caption">
            <h2 class="display">All projects <br/> and themes:</h2>
        </div>
        {% for item in site.data[page.phase].projects %}
            <div class="index__item">
                <h4 class="index__theme display">{{ item.theme }}</h4>
                <a href="{{ item.group | prepend: '#' }}" class="index__topic">{{ item.title }}</a>
            </div>
        {% endfor %}
    </div>
    <div class="index__projects">
        {% for project in site.data[page.phase].projects %}
        {% capture source %}{{ page.phase | append: '/' }}{% endcapture %}
        {% capture path %}{{ project.group | prepend: source }}{% endcapture %}
            <div class="index__project" id="{{ project.group }}">
                <div class="project__text">
                    <div class="index__caption">
                        <h4 class="index__theme display">{{ project.theme }}</h4>
                        <h2 class="project__title display">{{ project.title }}</h2>
                    </div>
                    <p class="project__description">{{ project.excerpt }}</p>
                    <div class="project__members">
                        <span>{{ project.members }}</span>
                    </div>
                </div>
                <div class="project__images {% if page.phase != 'es01' %}column--single{% endif %}">
                        <div class="project__cover">
                            <a href="{{ path | relative_url }}" target="_blank">
                                <div class="project__image" style="background-image: url({{ project.cover_website | prepend: path | relative_url }})">
                                </div>
                                <div class="project__link">
                                    <p class="display">Explore<span> the website</span></p>
                                </div>
                            </a>
                        </div>
                        {% if page.phase == 'es01' %}
                        <div class="project__cover">
                            <a href="{{ project.cover_lettura | prepend: path | remove: '/cover' | replace: '.jpg', '.pdf' | relative_url }}" target="_blank">
                                <div class="project__image" style="background-image: url({{ project.cover_lettura | prepend: path | relative_url }})">
                                </div>
                                <div class="project__link">
                                    <p class="display">Explore<span> the infographic</span></p>
                                </div>
                            </a>
                        </div>
                        {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</main>
