/****** VARIABLES ******/
html {
  --color-orange: #f59547;
  --color-yellow: #eae77c;
  --color-background: #30122a;
  --color-second: #fa7a7f;
  --color-green: #00ff00;
  --color-shadow: #1d032a;
  --color-light-gray: #c2beb8;
  --color-dark-gray: #898180;
  --color-highlight: #ffffff;
  --font-title: 'Chakra Petch', sans-serif;
  --font-text: 'Bai Jamjuree', sans-serif;
}

h2 {
  font-family: var(--font-title);
  font-weight: 700;
  text-align: center;
  font-size: 36px;
}

h3 {
  font-family: var(--font-text);
  font-weight: 700;
  text-align: left;
}

h4 {
  font-family: var(--font-text);
  font-weight: 700;
  text-align: left;
}

p {
  var(--font-text);
  font-weight: 300;
}

.paragraph {
  font-size: 14px;
  text-align: left;
}

.fonti {
  var(--font-text);
  var(--color-highlight);
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.fontionwhite {
  var(--font-text);
  color: var(--color-background);
  ;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.container-fluid {
padding-left: 70px;
padding-right: 50px;
}

/**** SECTION TITLE ****/
.main_title {
  text-align: center;
  font-family: var(--font-title);
  font-weight: 900;
  color: var(--color-background);
  ;
}

.main_subtitle {
  text-align: center;
  var(--font-text);
  font-weight: 300;
  color: var(--color-light-gray);
}

#blegend {
  width: 150px;
  height: 100px;
}

.intro {
  background-color: var(--color-background);
}

.ciao {
  background-color: var(--color-background);
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: ;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: 1s;
}

a:hover {
  text-decoration: none;
  color: var(--color-second);
}

.menu {
  display: inline-block;
  font-family: var(--font-title);
  font-weight: 400;
  padding: 60px 60px;
}

.purple {
  background-color: var(--color-background);
  ;
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
}

.white {
  color: var(--color-background);
  ;
  background-color: #ffffff;
  text-align: center;
  padding-top: 50px;
}

.container-outer {
  overflow: scroll;
  position: relative;
  width: auto;
}

.fontionwhite a {
  var(--font-text);
  color: var(--color-background);
  ;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.fontionwhite a:hover {
  text-decoration: none;
  color: var(--color-second);
}

#covervideo {
  width: 100%;
  height: 100%;
}

#legend2a {
  max-width: 35%;
  max-height: 100vh;
  margin-top: 40px;
}

#legend2b {
  max-width: 80%;
  max-height: 100vh;
  margin-top: 100px;
  padding-left: 20px;
}

#typeofopioidlegend {
  max-width: 50%;
  max-height: 100vh;
  margin-top: 0px;
  float: right;
}

#legend5 {
  max-width: 40%;
  max-height: 100vh;
}

#legendnumber6 {
  max-width: 120%;
  max-height: 100vh;
}

.spaziatore {
  margin-bottom: 50px;
}

/****** SVG CAR ACCIDENT****/
#car-accident {
  width: 70%;
}

/***** TIMELINE PN2G *****/
#lineadeltempo img {
  width: 69%;
  margin-right: 0px;
  padding: 0px;
}

#lineadeltempo2 img {
  width: 300%;
  margin-left: 0px;
  padding: 0px;
}

#scroll {
  font-family: var(--font-text);
  font-size: 15;
  border: 30px;
}

.timeline {
  font-family: var(--font-text);
  font-weight: 400;
  text-align: left;
  font-size: 14px;
}

.approval {
  color: var(--color-second);
}

/****** MAPP-ONE *****/
#mappa1 .st0 {
  fill: none;
}

#mappa1 .st1 {
  fill: var(--color-background);
}

#mappa1 .st2 {
  font-family: var(--font-title);
}

#mappa1 .st3 {
  font-size: 18px;
}

#mappa1 .st4 {
  fill: white;
  stroke: #32122A;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

#mappa1 .st5 {
  fill: none;
  stroke: #FA7A7F;
  stroke-width: 0.1;
  stroke-miterlimit: 10;
}

#mappa1 .st6 {
  fill: #32122A;
}

#mappa1 .st7 {
  font-family: var(--font-text);
  fill: var(--color-background);
  text-align: left;
}

#mappa1 .st8 {
  font-size: 21px;
}

#mappa1 .st9 {
  font-family: var(--font-text);
  text-align: left;
  fill: var(--color-background);
}

#mappa1 .st10 {
  font-size: 19px;
}

#mappa1 .st11 {
  fill: #1D1D1B;
}

#mappa1 .st12 {
  font-family: var(--font-text);
  text-align: left;
  fill: var(--color-background);
}

#mappa1 .st13 {
  fill: none;
  stroke: #32122A;
  stroke-miterlimit: 10;
}

.label {
  opacity: 0;
}

.stato:hover+.label {
  opacity: 1;
  transition: 0.5s;
}

#mappa1 .stato:hover .st4 {
  fill: var(--color-second);
  transition: 0.5s;
  opacity: 0.6;
}

/*** SVG MAPPA 2 ***/
#mappa2 .st0 {
  fill: #E0E0E5;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st1 {
  opacity: 0;
  fill: none;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st2 {
  fill: #EAECEF;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st3 {
  fill: #D8D8DC;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st4 {
  fill: #BAB4BD;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st5 {
  fill: #D9D8DE;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st6 {
  fill: #D0CED3;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st7 {
  fill: #9C91A0;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st8 {
  fill: #DDDDE2;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st9 {
  fill: #DAD9DD;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st10 {
  fill: #ACA3AE;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st11 {
  fill: #E5E5E9;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st12 {
  fill: #EFF1F7;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st13 {
  fill: #E6E6EA;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st14 {
  fill: #F5FAFC;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st15 {
  fill: #E7E8EC;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st16 {
  fill: #B9B2BA;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st17 {
  fill: #E2E1E6;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st18 {
  fill: #AFA6B2;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st19 {
  fill: #DBDBDF;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st20 {
  fill: #B4ACB6;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st21 {
  fill: #E4E3E9;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st22 {
  fill: #998E9D;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st23 {
  fill: #938698;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st24 {
  fill: #7E6F83;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st25 {
  fill: #C9C5CC;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st26 {
  fill: #A89EAA;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st27 {
  fill: #4C3756;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st28 {
  fill: #ADA4AF;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st29 {
  fill: #B1A8B3;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st30 {
  fill: #12051C;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st31 {
  fill: #B2AAB5;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st32 {
  fill: #AAA0AB;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st33 {
  fill: #9B8E9E;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st34 {
  fill: #4C3858;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st35 {
  fill: #1E0B28;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st36 {
  fill: #7D6C82;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st37 {
  fill: #5E4A67;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st38 {
  fill: #5B4866;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st39 {
  fill: #988B9C;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st40 {
  fill: #574362;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st41 {
  fill: none;
  stroke: #1C0615;
  stroke-miterlimit: 10;
}

#mappa2 .st42 {
  fill: #EAEEF1;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st43 {
  fill: #CAC6CC;
  stroke: #11001A;
  stroke-width: 1.5;
}

#mappa2 .st44 {
  opacity: 0.3;
}

#mappa2 .st45 {
  fill: #11001A;
}

#mappa2 .st46 {
  opacity: 0.3;
  fill: #11001A;
  stroke: #FA7F86;
  stroke-width: 1.0609;
  stroke-miterlimit: 10;
}

#mappa2 .st47 {
  opacity: 0;
}

#mappa2 .st48 {
  fill: #11001A;
  stroke: #FA7F86;
  stroke-width: 1.0609;
  stroke-miterlimit: 10;
}

#mappa2 .st49 {
  opacity: 0.6;
  fill: #FCC5C3;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st50 {
  opacity: 0.6;
  fill: #FA8087;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st51 {
  opacity: 0.6;
  fill: #FA898F;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st52 {
  opacity: 0.6;
  fill: #FEE2E0;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st53 {
  opacity: 0.6;
  fill: #FDD0CF;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st54 {
  opacity: 0.6;
  fill: #FCB6B6;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st55 {
  opacity: 0.6;
  fill: #FCC9C9;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st56 {
  opacity: 0.6;
  fill: #FBB4B5;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st57 {
  opacity: 0.6;
  fill: #FEE5E3;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st58 {
  opacity: 0.6;
  fill: #FCBBBB;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st59 {
  opacity: 0.6;
  fill: #FCCDCB;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st60 {
  opacity: 0.6;
  fill: #FBABAD;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st61 {
  opacity: 0.6;
  fill: #FCC9C7;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st62 {
  opacity: 0.6;
  fill: #FBACAE;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st63 {
  opacity: 0.6;
  fill: #FA9DA1;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st64 {
  opacity: 0.6;
  fill: #FA9399;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st65 {
  opacity: 0.6;
  fill: #FCC5C5;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st66 {
  opacity: 0.6;
  fill: #FCCACA;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st67 {
  opacity: 0.6;
  fill: #FDD8D6;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st68 {
  opacity: 0.6;
  fill: #FBA4A7;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st69 {
  opacity: 0.6;
  fill: #FDDDDB;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st70 {
  opacity: 0.6;
  fill: #FA9096;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st71 {
  opacity: 0.6;
  fill: #FBADAF;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st72 {
  opacity: 0.6;
  fill: #FDD4D2;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st73 {
  opacity: 0.6;
  fill: #FCBFBE;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st74 {
  opacity: 0.6;
  fill: #FBB2B5;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st75 {
  opacity: 0.6;
  fill: #FDD1CE;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st76 {
  opacity: 0.6;
  fill: #FDD9D6;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st77 {
  opacity: 0.6;
  fill: #FCCAC8;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st78 {
  opacity: 0.6;
  fill: #FDDEDB;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st79 {
  opacity: 0.6;
  fill: #FCCECE;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st80 {
  opacity: 0.6;
  fill: #FBB2B3;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st81 {
  opacity: 0.6;
  fill: #FA9A9F;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st82 {
  opacity: 0.6;
  fill: #FCBCBB;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st83 {
  opacity: 0.6;
  fill: #FCB7B7;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st84 {
  opacity: 0.6;
  fill: #FCCAC9;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st85 {
  opacity: 0.6;
  fill: #FBA6A9;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st86 {
  opacity: 0.6;
  fill: #FCC7C6;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st87 {
  opacity: 0.6;
  fill: #FA868E;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st88 {
  opacity: 0.6;
  fill: #FDD4D0;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st89 {
  opacity: 0.6;
  fill: #FDD2D0;
  stroke: #D6D4CE;
  stroke-opacity: 0;
}

#mappa2 .st90 {
  fill: #FFFFFF;
}

#mappa2 .st91 {
  font-family: var(--font-text);
}

#mappa2 .st92 {
  font-size: 21px;
}

.pallini-rosa {
  opacity: 0;
}

#mappa2 .contorno-usa:hover+.pallini-rosa {
  opacity: 1;
  transition: 0.5s;
}

/*** SVG CAR ACCIDENT ***/
/**** SVG TYPE OF OPIOID ****/
#typeof_opioids .st0 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}

#typeof_opioids .st1 {
  fill: none;
  stroke: #30122A;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#typeof_opioids .st2 {
  fill: none;
  stroke: #30122A;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}

#typeof_opioids .st3 {
  fill: none;
  stroke: var(--color-second);
  stroke-width: 0.8;
  stroke-miterlimit: 10;
}

#typeof_opioids .st4 {
  fill: none;
}

#typeof_opioids .st5 {
  fill: #30122A;
}

#typeof_opioids .st6 {
  opacity: 0.9;
  fill: none;
  stroke: #30122A;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

#typeof_opioids .st7 {
  fill: #FFFFFF;
}

#typeof_opioids .st8 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 0.9986;
  stroke-linecap: square;
  stroke-miterlimit: 10;
}

#typeof_opioids .st9 {
  opacity: 0.6;
}

#typeof_opioids .st10 {
  fill: none;
  stroke: var(--color-second);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

#typeof_opioids .st11 {
  opacity: 0.1;
  fill: #30122A;
}

#typeof_opioids .st12 {
  opacity: 0.5;
}

#typeof_opioids .st13 {
  font-family: 'ChakraPetch-Bold';
}

#typeof_opioids .st14 {
  font-size: 21.5209px;
}

#typeof_opioids .st15 {
  font-size: 20.8021px;
}

#typeof_opioids .st16 {
  opacity: 0.5;
  fill: #FA7A7F;
}

#typeof_opioids .st17 {
  fill: #FA7A7F;
}

#typeof_opioids .st18 {
  font-size: 33.0242px;
}

#typeof_opioids .st19 {
  font-family: 'BaiJamjuree-Regular';
}

#typeof_opioids .st20 {
  font-size: 31.1241px;
}

#typeof_opioids .st21 {
  font-family: 'Lato-Regular';
}

#typeof_opioids .st22 {
  font-size: 16.3445px;
}

#typeof_opioids .st23 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 1.4626;
  stroke-miterlimit: 10;
}

.centro {
  opacity: 0;
}

.centro:hover {
  opacity: 1;
  transition: 0.5s;
}

.destra {
  opacity: 0;
}

.destra:hover {
  opacity: 1;
  transition: 0.5s;
}

.sinistra {
  opacity: 0;
}

.sinistra:hover {
  opacity: 1;
  transition: 0.5s;
}

/**** SVG MARKETING *****/
#marketing .st0 {
  fill: #FFFFFF;
}

#marketing .st1 {
  opacity: 0.3;
}

#marketing .st2 {
  opacity: 0.3;
  fill: #FFFFFF;
}

#marketing .st3 {
  font-family: 'ChakraPetch-Bold';
}

#marketing .st4 {
  font-size: 18px;
}

#marketing .st5 {
  opacity: 0.4;
}

#marketing .st6 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 0.2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

#marketing .st7 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 0.2;
  stroke-miterlimit: 10;
}

#marketing .st8 {
  fill: var(--color-second);
}

#marketing .st9 {
  font-family: 'BaiJamjuree-Regular';
}

#marketing .st10 {
  font-size: 12px;
}

#marketing .st11 {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

#marketing .st12 {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-miterlimit: 10;
}

#marketing .st13 {
  fill: none;
}

#marketing .st14 {
  font-family: 'ChakraPetch-Regular';
}

#novantasei {
  opacity: 0;
}

#novantasei:hover {
  opacity: 1;
  transition: 0.5s;
}

#novantasette {
  opacity: 0;
}

#novantasette:hover {
  opacity: 1;
  transition: 0.5s;
}

#novantotto {
  opacity: 0;
}

#novantotto:hover {
  opacity: 1;
  transition: 0.5s;
}

#novantanove {
  opacity: 0;
}

#novantanove:hover {
  opacity: 1;
  transition: 0.5s;
}

#duemila {
  opacity: 0;
}

#duemila:hover {
  opacity: 1;
  transition: 0.5s;
}

#duemilauno {
  opacity: 0;
}

#duemilauno:hover {
  opacity: 1;
  transition: 0.5s;
}

#duemiladue {
  opacity: 0;
}

#duemiladue:hover {
  opacity: 1;
  transition: 0.5s;
}

/***** SVG PAYMENT DOCTORS *****/
#whopaidwho .st0 {
  opacity: 0.15;
  fill: none;
  stroke: #30122A;
  stroke-width: 0.9243;
  stroke-miterlimit: 10;
}

#whopaidwho .st1 {
  opacity: 0.15;
  fill: none;
  stroke: #30122A;
  stroke-width: 103;
}

#whopaidwho .st2 {
  opacity: 0.15;
}

#whopaidwho .st3 {
  fill: #30122A;
}

#whopaidwho .st4 {
  opacity: 0.15;
  fill: none;
  stroke: #30122A;
  stroke-width: 39.8655;
}

#whopaidwho .st5 {
  opacity: 0.15;
  fill: none;
  stroke: #30122A;
  stroke-width: 17.4776;
}

#whopaidwho .st6 {
  opacity: 0.15;
  fill: none;
  stroke: #30122A;
  stroke-width: 33.0409;
}

#whopaidwho .st7 {
  opacity: 0.15;
  fill: none;
  stroke: #30122A;
  stroke-width: 24.9679;
}

#whopaidwho .st8 {
  opacity: 0.15;
  fill: none;
  stroke: #30122A;
  stroke-width: 0.926;
  stroke-miterlimit: 10;
}

#whopaidwho .st9 {
  opacity: 0.15;
  fill: #30122A;
}

#whopaidwho .st10 {
  opacity: 0.15;
  fill: none;
  stroke: #30122A;
  stroke-width: 8.6556;
}

#whopaidwho .st11 {
  opacity: 0.15;
  fill: none;
  stroke: #30122A;
  stroke-width: 34.3725;
}

#whopaidwho .st12 {
  opacity: 0.15;
  fill: none;
  stroke: #30122A;
  stroke-width: 43.1113;
}

#whopaidwho .st13 {
  opacity: 0.15;
  fill: none;
  stroke: #30122A;
  stroke-width: 22.8873;
}

#whopaidwho .st14 {
  font-family: 'BaiJamjuree-Regular';
}

#whopaidwho .st15 {
  font-size: 10px;
}

#whopaidwho .st16 {
  font-family: 'BaiJamjuree-Italic';
}

#whopaidwho .st17 {
  font-size: 8px;
}

#whopaidwho .st18 {
  font-family: 'BaiJamjuree-Bold';
}

#whopaidwho .st19 {
  font-size: 10.8614px;
}

#whopaidwho .st20 {
  font-family: 'BaiJamjuree-Light';
}

#whopaidwho .st21 {
  font-family: 'Lato-Light';
}

#whopaidwho .st22 {
  fill: none;
}

#whopaidwho .st23 {
  font-size: 10px;
  glyph-orientation-vertical: 1;
  writing-mode: tb;
}

#whopaidwho .st24 {
  fill: none;
  stroke: #4C3849;
  stroke-width: 1.5;
  stroke-miterlimit: 10;
}

#whopaidwho .st25 {
  opacity: 0.5;
}

#whopaidwho .st26 {
  fill: none;
  stroke: #4C3849;
  stroke-width: 0.1;
  stroke-miterlimit: 10;
}

#whopaidwho .st27 {
  fill: none;
  stroke: #4C3849;
  stroke-width: 0.1;
  stroke-miterlimit: 10;
  stroke-dasharray: 1.9966, 1.9966;
}

#Hydrocodone:hover path {
  stroke: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Hydrocodone:hover polygon.st3 {
  fill: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Tapentadol:hover path {
  stroke: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Tapentadol:hover polygon.st3 {
  fill: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Morphine:hover path {
  stroke: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Methadone:hover path {
  stroke: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Fentanyl:hover path {
  stroke: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Fentanyl:hover polygon.st3 {
  fill: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Codeine:hover path {
  stroke: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Oxymorphone:hover path {
  stroke: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Oxymorphone:hover polygon.st3 {
  fill: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Oxycodone:hover path {
  stroke: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Hydromorphone:hover path {
  stroke: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Buprenorphine:hover path {
  stroke: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

#Buprenorphine:hover polygon.st3 {
  fill: var(--color-second);
  opacity: 1;
  transition: 0.5s;
}

/**** conclusion*****/
h3.conclusion {
  text-align: center;
  font-weight: 600;
  font-style: italic;
}

p.conclusion {
  text-align: center;
  font-weight: 400;
}

h3.conclusion:hover {
  text-shadow: 3px 3px var(--color-second);
  transition: 0.4s;
}

.container-fluid {
  margin: auto;
}

/**** FOOTER ****/
footer {
  background-color: var(--color-background);
  ;
  color: var(--color-highlight);
}

.logo-dd {
  width: 45%;
}

.logo-polimi {
  width: 85%;
}

footer h6 {
  color: var(--color-highlight);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: var(--font-title);
  font-size: 16px;
}

footer ul {
  list-style: none;
  padding: 0;
  var(--font-text);
  text-align: left;
  font-size: 14px;
}
