/* roboto-mono-regular - latin */
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-mono-v5-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Mono'), local('RobotoMono-Regular'),
        url('../fonts/roboto-mono-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/roboto-mono-v5-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/roboto-mono-v5-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/roboto-mono-v5-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/roboto-mono-v5-latin-regular.svg#RobotoMono') format('svg');
    /* Legacy iOS */
}

html {
    margin: 0;
    height: 100%;
}

.position {
    margin: 0;
    height: 140vh !important;
}

.resize {
    width: 300px;
    display: inline-block;
    float: left;
}

.zoom_01 {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    margin: 0;
    height: auto;
}

.month {
    float: left;
    margin-top: 10px;

}

.month h3 {
    height: 4%;
    margin: 0;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 500;
    text-transform: uppercase;
    color: #062e39;
}

.zoomLens {
    border-color: #062e39 !important;
    z-index: 30;
}


.zoom-frame {
    transition: 0.2s;
    width: 100%;
    height: 130vh;
    margin: auto;
    border: 0px;
}


.space {
    height: 50px;
}
